<div class="check_house">
	<h1>移动验房系统 重新定义验房</h1>
	<div class="zr_container">
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/product8.png"/>
		</div>	
		<div class="many_h1_p">
			<div class="h1_p">
				<h1>网上物业PC系统</h1>
				<p>基础数据管理:小区户型管理，房间户型登记，验房模板管理、验房交房管理、验房单据信息、验房问题管理、问题分类汇总。</p>
			</div>
			<div class="h1_p">
				<h1>物业APP</h1>
				<p>房间验房进度查询，验房问题登记，手机拍照上传，房间问题复验。</p>
			</div>
			<div class="h1_p">
				<h1>业主APP</h1>
				<p>业主实名认证，验房结果消息推送，验房问题跟进，手写签字提交。</p>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.check_house{
		margin: 0px;
		padding: 0px 15px;
		list-style: none;
		padding-top: 30px;
		background: white;
		margin-top: 15px;
	}
	.check_house h1{
		font-size: 18px;
		text-align: center;
		color: #49d075;
		width: 125px;
		font-weight: 200;
		margin: 0 auto;
	}
	/*容器内部*/
	.check_house .zr_container{
		padding: 20px 2%;		
		font-size: 14px;
		color: #3D3D3D;
	}
	.check_house .zr_container .img_phone img{
		width: 100%;
	}
	/*内容*/
	.check_house .zr_container .many_h1_p{}
	.check_house .zr_container .many_h1_p .h1_p{
		margin-bottom: 18px;
	}
	.check_house .zr_container .many_h1_p .h1_p h1{
		padding-left: 10px;
	    border-left: 2px solid #49d074;
	    height: 18px;
	    line-height: 18px;
	    margin-bottom: 8px;
	    font-size: 14px;
	    text-align: left;
	    margin: 0;
	    color: #3D3D3D;
	}
	.check_house .zr_container .many_h1_p .h1_p p{
		line-height: 25px;
	}
	
	@media (max-width:640px){
		.check_house h1{
			font-size: 15px;
			width: 105px;
		}
	}
	@media (min-width:960px) and (max-width:1280px){
		.check_house{
			padding-top: 45px;
		}
		.check_house h1{
			font-size: 22px;
			width: 160px;
		}
		.check_house .zr_container{
			margin-top: 20px;
			font-size: 16px;
		}
		.check_house .zr_container .many_h1_p .h1_p h1{
			font-size: 16px;
		}
	}
	@media (min-width:1280px){
		.check_house{
			padding-top: 50px;
		}
		.check_house h1{
			font-size: 26px;
			width: 185px;
		}
		.check_house .zr_container{
			margin-top: 20px;
			font-size: 18px;
		}
		.check_house .zr_container .many_h1_p .h1_p h1{
			font-size: 18px;
		}
	}
</style>