<div class="join_us">
	<div class="zr_header">
		<h1>诚邀各行业精英加盟</h1>
		<p>Invites all industry elite to join</p>
	</div>
	<div class="zr_container">
		<ul>
			<li>房产策划销售</li>
			<li>物业</li>
			<li>安防弱电</li>
			<li>社区服务</li>
			<li>社区平台互联网</li>
			<li>装修建材</li>
			<li>广告传媒</li>
			<li>房地产项目工程</li>
			<li>互联网相关行业</li>
			<li>房产相关行业</li>
		</ul>
		<div class="one_img">
			<img src="__STATIC_PATH__/static/cityopration/images/join8.png"/>
		</div>
	</div>
</div>

<style type="text/css">
	.join_us{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
		color: #3D3D3D;
	}
	.join_us .zr_header{
		padding-top: 25px;
		text-align: center;
		margin-bottom: 10px;
		color: #3D3D3D;
	}
	.join_us .zr_header h1{
		font-size: 18px;
		font-weight: 200;
	}
	.join_us .zr_header p{
		font-size: 12px
	}
	/*容器*/
	.join_us .zr_container{
		padding: 0 5%;
	}
	.join_us .zr_container ul{
		overflow: hidden;
	}
	.join_us .zr_container ul li{
		width: 50%;
		float: left;
		text-align: center;
		list-style: none;
		border-bottom: 1px solid #eee;
		padding: 10px 0;
		font-size: 14px;
	}
	.join_us .zr_container .one_img{
		width: 100%;
	}
	.join_us .zr_container .one_img img{
		width: 100%;
	}
	@media (min-width: 1280px) {
		.join_us .zr_header h1 {
		    font-size: 26px;
		}
		.join_us .zr_header p {
		    font-size: 20px;
		}
		.join_us .zr_container ul li {
		    font-size: 20px;
		}
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.join_us .zr_header h1 {
		    font-size: 25px;
		}
		.join_us .zr_header p {
		    font-size: 19px;
		}
		.join_us .zr_container ul li {
		    font-size: 19px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.join_us .zr_header h1 {
		    font-size: 20px;
		}
		.join_us .zr_header p {
		    font-size: 16px;
		}
		.join_us .zr_container ul li {
		    font-size: 16px;
		}
	}
	@media (max-width: 640px) {
		.join_us .zr_header h1 {
		    font-size: 16px;
		}
	}
</style>