<div class="know_lezhu">
    <h1>认识乐住</h1>
    <div class="many_p">
        {$intro_content.content}
        <span>
            <img src="__STATIC_PATH__/static/companyintro/images/lz-img.jpg" />
        </span>
    </div>
</div>
<style type="text/css">
.know_lezhu {
    width: 1280px;
    margin: auto;
}

.know_lezhu h1 {
    padding-left: 20px;
    border-left: 6px solid #49d074;
    font-size: 30px;
    height: 33px;
    line-height: 33px;
    margin-bottom: 45px;
}

.know_lezhu .many_p {
    color: #777;
    font-size: 16px;
}

.know_lezhu .many_p p {
    margin-bottom: 50px;
    line-height: 22px;
}
.know_lezhu .many_p span{
    display: inline-block;
    margin:40px 0;
}
.know_lezhu .many_p img {
    width: 100%;
    margin-top: 50px;
}


/* media 1280 */

@media screen and (max-width:1280px) {
    .know_lezhu {
        width: 960px;
    }
    .know_lezhu .many_p{
        padding:0 25px;
    }
}

/* media 960 */
@media screen and (max-width:960px) {
    .know_lezhu {
        width: 100%;
    }
    .know_lezhu .many_p{
        padding:0 25px;
    }
}

/* media 640 */
@media screen and (max-width:640px) {
    .know_lezhu {
        width: 100%;
    }
    .know_lezhu .many_p{
        padding:0 25px;
    }
}
</style>