<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="__STATICPATH__/static/js/m_common.js"></script>
<!--引入公共头部-->
{include file="common/header"}

<!--引入公共导航头部-->
{include file="/public/head"}

<!--引入头部图片-->
{include file="companyintro/header_img/header_img"}

<!--引入认识乐住模块-->
{include file="companyintro/know_lezhu/know_lezhu"}

<!--引入认识乐住pic模块-->
{include file="companyintro/know_lezhupic/know_lezhupic"}

<!--引入认识公司历程模块-->
{include file="companyintro/company_course/company_course"}

<!--引入认识公司历程pic模块-->
{include file="companyintro/company_coursepic/company_coursepic"}

<!--引入软件展示轮播模块-->
{include file="companyintro/software_show_lunbo/software_show_lunbo"}

<!-- 联系方式 -->
{include file="companyintro/address"}

<!--引入公共导航尾部-->
{include file="/public/foot"}

<!--引入公共尾部-->
{include file="common/footer"}
