<div class="cooperation_relation">
	<a id="cooperation_relation" name="cooperation_relation"></a>
	<div class="zr_header">
		<h1>合作级别与关系</h1>
		<p>COLLABORATION LEVELS AND RALATIONSHIPS</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="container">
		<div class="h1_img">
			<h1>乐住中国</h1>
			<div class="img_show">
				<img src="__STATIC_PATH__/static/cityopration/images/arrow1.png"/>
			</div>
		</div>
		<div class="h1_img">
			<h1>城市运营商</h1>
			<div class="img_show">
				<img src="__STATIC_PATH__/static/cityopration/images/arrow3.png"/>
				<img src="__STATIC_PATH__/static/cityopration/images/arrow1.png"/>
				<img src="__STATIC_PATH__/static/cityopration/images/arrow2.png"/>
			</div>
		</div>
		<div class="many_h1_h2_p">
			<div class="h1_h2_p">
				<h1>A类城市</h1>
				<h2>城市运营商</h2>
				<div class="many_p">
					<p>1级城市经销商</p>
					<p>2级城市经销商</p>
					<p>3级城市经销商</p>
				</div>
			</div>
			<div class="h1_h2_p">
				<h1>B类城市</h1>
				<h2>城市运营商</h2>
				<div class="many_p">
					<p>1级城市经销商</p>
					<p>2级城市经销商</p>
					<p>3级城市经销商</p>
				</div>
			</div>
			<div class="h1_h2_p">
				<h1>C类城市</h1>
				<h2>城市运营商</h2>
				<div class="many_p">
					<p>1级城市经销商</p>
					<p>2级城市经销商</p>
					<p>3级城市经销商</p>
				</div>
			</div>
		</div>
		
	</div>
</div>

<style type="text/css">
	/*头部*/
	.cooperation_relation{
		background: url('__STATIC_PATH__/static/cityopration/images/brand-bg2.jpg') center no-repeat;
		width: 100%;
		height: 680px;
		color: white;
		position: relative;
	}
	.cooperation_relation .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.cooperation_relation .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.cooperation_relation .zr_header p{
		font-size: 16px;
	}
	.cooperation_relation .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.cooperation_relation .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*容器*/
	.cooperation_relation .container .h1_img{
		width: 100%;
		text-align: center;
	}
	.cooperation_relation .container h1{
		font-size: 24px;
		font-weight: bold;
	}
	.cooperation_relation .container .h1_img .img_show{
		margin: 20px 0px;
	}
	.cooperation_relation .container .h1_img .img_show img:nth-child(2){
		margin: 0px 80px;
	}
	.cooperation_relation .many_h1_h2_p{
		overflow: hidden;
		margin-left: calc(50% - 300px);
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p{
		float: left;
		width: 200px;
		text-align: center;
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p h1{
		margin-bottom: 30px;
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p h2{
		font-weight: 100;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p p{
		font-size: 16px;
		margin-bottom: 15px;		
	}
	/*瞄点链接*/
	.cooperation_relation #cooperation_relation{
		position: absolute;
		top: -140px;
	}
</style>