<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="__STATICPATH__/static/js/common.js"></script>
<!--引入公共头部-->
{include file="common/header"}

<!--引入公共导航头部-->
{include file="/public/head"}

<!--引入头部图片-->
{include file="cityopration/header_img/header_img"}

<!--引入固定导航条-->
{include file="cityopration/fixed_navbar/fixed_navbar"}

<!--引入品牌概念-->
{include file="cityopration/trademark_concept/trademark_concept"}

<!--引入市场前景-->
{include file="cityopration/market_prospect/market_prospect"}

<!--引入选择意义-->
{include file="cityopration/why_select/why_select"}

<!--引入乐住产品-->
{include file="cityopration/lezhu_product/lezhu_product"}

<!--引入央视等大型媒体报道-->
{include file="cityopration/tv_report/tv_report"}

<!--引入盈利预算-->
{include file="cityopration/profit_budget/profit_budget"}

<!--引入诚邀各行业精英加盟?人群分析？？-->
{include file="cityopration/welcome_join/welcome_join"}

<!--引入合作优势-->
{include file="cityopration/cooperation_relation/cooperation_relation"}

<!--引入加盟优势-->
{include file="cityopration/cooperation_advantage/cooperation_advantage"}

<!--引入加盟流程-->
{include file="cityopration/cooperation_process/cooperation_process"}

<!--引入滑动改变导航条高亮-->
{include file="cityopration/change_bar/change_bar"}

<!--引入公共导航尾部-->
{include file="/public/foot"}

<!--引入公共尾部-->
{include file="common/footer"}