<div class="lezhu_product">
	<div class="zr_header">
		<h1>乐住产品</h1>
		<p>楼盘全链条解决产品</p>
	</div>
	<div class="many_img">
		<ul>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join4 (1).png"/>
				<h3>买房</h3>
				<div class="many_p">
					<p>智能体验馆</p>
					<p>智能小区规划设计</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join5 (1).png"/>
				<h3>邀请入伙</h3>
				<div class="many_p">
					<p>入伙通知书设计与制作</p>
					<p>业主手册代设计制作</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join6 (1).png"/>
				<h3>交房验房</h3>
				<div class="many_p">
					<p>移动交房验房系统</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join66.png"/>
				<h3>正式入住</h3>
				<div class="many_p">
					<p>网上物业管理系统</p>
					<p>物业APP</p>
					<p>业主APP</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join7.png"/>
				<h3>社区生活</h3>
				<div class="many_p">
					<p>社区广告运营</p>
					<p>邻里交互生态</p>
					<p>附近商圈</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<style type="text/css">
	.lezhu_product{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
		background: white;
		color: #3D3D3D;
	}
	.lezhu_product .zr_header{
		padding-top: 40px;
		text-align: center;
		margin-bottom: 10px;
		color: #3D3D3D;
	}
	.lezhu_product .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.lezhu_product .zr_header p{
		font-size: 20px
	}
	/*多张图片*/
	.lezhu_product .many_img ul{
		padding: 0 5%;
		overflow: hidden;
	}
	.lezhu_product .many_img ul li{
		width: 45%;
		margin-right: 10%;
		list-style: none;
		float: left;
		text-align: center;
		margin-bottom: 25px;
	}
	.lezhu_product .many_img ul li:nth-child(2n){
		margin-right: 0;
	}
	.lezhu_product .many_img ul li img{
		width: 50%;
	}
	.lezhu_product .many_img ul li h3{
		font-size: 20px;
		font-weight: 200;
	}
	.lezhu_product .many_img ul li .many_p {
		margin-top: 3px;
	}
	.lezhu_product .many_img ul li .many_p p{
		font-size: 18px;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.lezhu_product .zr_header h1{
			font-size: 25px;
		}
		.lezhu_product .zr_header p{
			font-size: 19px;
		}
		.lezhu_product .many_img ul li .many_p p {
		    font-size: 17px;
		}
		.lezhu_product .many_img ul li h3 {
		    font-size: 19px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.lezhu_product {
			padding-bottom: 0px;
		}
		.lezhu_product .zr_header{
		    margin-bottom: 15px;
		}
		.lezhu_product .zr_header h1 {
		    font-size: 22px;
		}
		.lezhu_product .zr_header p {
		    font-size: 18px;
		}
		.lezhu_product .many_img ul li h3 {
		    font-size: 18px;
		}
		.lezhu_product .many_img ul li .many_p p {
		    font-size: 16px;
		}
	}
	@media (max-width: 640px) {
		.lezhu_product .zr_header {
		    padding-top: 15px;
		}
		.lezhu_product .zr_header h1 {
		    font-size: 16px;
		}
		.lezhu_product .zr_header p {
		    font-size: 13px;
		}
		.lezhu_product .many_img ul li h3 {
		    font-size: 15px;
		}
		.lezhu_product .many_img ul li .many_p p {
		    font-size: 12px;
		}
		.lezhu_product .many_img ul li .many_p {
		    margin-top: 0px;
		}
		.lezhu_product .many_img ul li {
		    margin-bottom: 15px;
		}
		.lezhu_product {
		    padding-bottom: 0px;
		}
	}
</style>