<div class="app_advertise_forms">
	<div class="title">
		<h3>APP广告展现形式</h3>
		<p>APP advertisiing forms</p>
	</div>
	<ul>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad5.png"/>
			<div class="h3_p">
				<h4>启动页/全屏广告</h4>
				<div class="word_center">
					<p>强烈的视觉冲击力，瞬间捕获注意力，品牌信息充分曝光。</p>
				</div>
				
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad6.png"/>
			<div class="h3_p">
				<h4>弹屏互动广告/插屏广告</h4>
				<div class="word_center">
				<p>视觉冲击力强，定位精准，阅读和点击率高，效果明显。</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad7.png"/>
			<div class="h3_p">
				<h4>领券中心banner广告</h4>
				<div class="word_center">
				<p>弹出红点提示，强制性点击查看，阅读和点击率高。</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad8.png"/>
			<div class="h3_p">
				<h4>banner广告</h4>
				<div class="word_center">
				<p>图文结合，展示直观，快速捕获注意力，曝光明显。</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad9.png"/>
			<div class="h3_p">
				<h4>信息流大图广告</h4>
				<div class="word_center">
				<p>大图+文字，小图+文字，广告位置多，展现次数多</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad10.png"/>
			<div class="h3_p">
				<h4>APP消息推送广告</h4>
				<div class="word_center">
				<p>精准目标受众定向推送，精准用户群，直链广告页面。</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad11.png"/>
			<div class="h3_p">
				<h4>电梯框架、灯箱广告</h4>
				<div class="word_center">
				<p>高收入人群，阅读次数多，广告是唯一的消费刺激物。</p>
				</div>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad12.png"/>
			<div class="h3_p">
				<h4>业主手册/内页广告</h4>
				<div class="word_center">
				<p>精准锁定目标群里，100%到达率，每户必备一册。</p>
				</div>
			</div>
		</li>
	</ul>
</div>

<style type="text/css">
	.app_advertise_forms{
		
		width: 92%;
		margin: 0 auto;
		background: #f5f5fc;
		overflow: hidden;
	}
	.app_advertise_forms .title{
		padding: 20px 0 10px 0;
	}
	.app_advertise_forms h3{
		margin: 0;
		font-size: 18px;
		text-align: center;
	}
	.app_advertise_forms .title > p{
		text-align: center;
		font-size: 14px;
		color: #aaa;
		font-weight: normal;
	}
	.app_advertise_forms ul{
		overflow: hidden;
		display: table;
		table-layout: fixed;
	}
	.app_advertise_forms ul li{
		list-style: none;
		float: left;
		width: 49%;
		border: 1px solid #ddd;
		box-sizing: border-box;
		margin-right: 2%;	
		margin-bottom: 15px;
		display: table-cell;
	}
	.app_advertise_forms ul li:nth-child(2n){
		margin-right: 0;		
	}
	.app_advertise_forms ul li img{
		width: 100%;
	}
	.app_advertise_forms ul li .h3_p{
		padding: 10px;
	}
	.app_advertise_forms ul li .h3_p h4{
		font-size: 14px;
    	margin-top: .5rem;
		color: #333;
		text-align: center;
	}
	.app_advertise_forms ul li .h3_p .word_center{

	}
	.app_advertise_forms ul li .h3_p p{
		font-size: 12px;
	    color: #777;
	    line-height: 18px;
	    margin-bottom: 10px;
	}
</style>