	*{
		margin: 0;
		padding: 0;
	}
	.main-connect{
		width: 90%;
	    text-align: center;
	    padding-top: 100px;
	    margin:80px auto;
	    overflow: hidden;
	}
	.main-connect .left-conadd{
		width: 55%;
		/*min-width: 769px;*/
		box-sizing: border-box;
	    float: left;
	    padding-left: 3%; 
	    text-align: left;
	    position: relative;
	}
	.main-connect .concat{
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.main-connect .concat h3{
		font: bold 24px "微软雅黑";
	    color: #222;
	    margin-bottom: 40px;
	}
	.main-connect .concat .con-list p{
		width: 100%;
    	display: table;
    	margin-bottom: 15px;
    	font: 16px/30px "微软雅黑";
	}
	.main-connect .concat .con-list .one img{
		margin: 6px 10px 10px 0;
    	float: left;
	}
	.main-connect .concat .con-list .two img{
		margin: 7px 10px 0 0;
    	float: left;
	}
	.main-connect .concat .con-list p span{
		float: left;
    	display: block;
	}
	.main-connect .address{
		overflow: hidden;
	}
	.main-connect .right-signal{
		float: right;
		padding-right: 3%;
	}
	
	@media screen and (max-width:769px){
	  .main-connect .left-conadd{
	  	width: 100%;
	  	float: none;
	  }
	  .main-connect .right-signal{
	  	/*display: block;*/
	  	float: none;
	  	margin: 30px auto;
	  }
	}
