@charset "utf-8";
 
*
{
	margin:0;
	padding:0;
	border:0;
}
a{
	color: #333;
	text-decoration: none;
	height: 100%;
	width: 100%;
	display: block;
}
a:hover{
	color: #44be3f;
	text-decoration: none;
}
/*头部导航*/
.bc_navlistbar .header{
	position:fixed;
	background: white;
	top:0;
	z-index:999;
	height:80px;
	width:100%;
	border-bottom: 1px solid #ccc;
}
.bc_navlistbar .header_l img{
	margin:10px 20% 10px 0;
}
.bc_navlistbar .header_l,.header_m{
	float:left;
	color:#777;
}
.bc_navlistbar .header_m > ul > li{
	display: block;
	float:left;
	height:80px;
	width:100px;
	line-height: 80px;
	text-align: center;
}
.bc_navlistbar .header_m > ul > li:hover,.active a{
	color:#44be3f !important;
	cursor:pointer;
}
.bc_navlistbar .hezuo{
	position:relative;
}

.bc_navlistbar .hezuo_hide{
	position:absolute;
	display:none;
	z-index:1;
	background: white;
	border:1px solid rgba(0,0,0,.15);
	border-radius:5px;
}
.bc_navlistbar .hezuo_hide > ul >li{
	color:black;
	height:50px;
	width:100px;
	line-height: 50px;
	list-style: none;
	text-align:center;
}
.bc_navlistbar .hezuo_hide > ul >li:hover{
	color:#44be3f;
	background-color:GhostWhite;
}
.bc_navlistbar .header_r{
	float:right;
	margin-right: 30px;
}
.bc_navlistbar .header_r span{
	font-size: 16px;
	line-height: 80px;
}
.bc_navlistbar #donghuakuang{
	float:right;
	height:100%;
	width:30px;
	margin-right:10px;
	background-color: white;
	opacity:0.7;
	transition:margin-right 3s;
	transform:rotate(45deg);
}




/*尾部*/
.bc_footlistbar .footer{
	overflow: hidden;
	height:300px;
	width:100%;
	background: url("../images/nav_foot/bg-footer.jpg");
}
.bc_footlistbar .foot_l{
	float:left;
	width:15%;
	text-align:center;
	color:white;
	margin-right:4%;
}
.bc_footlistbar .foot_l h4{
	margin: 15% 0;
}
.bc_footlistbar .foot_l a{
	text-decoration: none;
	color:white;
	cursor:pointer;
}
.bc_footlistbar .foot_l a:hover{
	color:#44be3f;
}

.bc_footlistbar .foot_r{
	width: 21%;
	float: right;
	margin-top: 2%;
	margin-right:3%;
	text-align: center;
	color: white;
}
.bc_footlistbar .foot_r > p{
	color: white;
	font-weight: bold;
	font-size:20px;
}
.bc_footlistbar .foot_r1{
	float:left;
	width:45%;
}
.bc_footlistbar .foot_r2{
	float:right;
	width:45%;
}
.bc_footlistbar .foot_r > div > img{
	width:100%;
	margin-bottom:10px;
}
.bc_footlistbar .footer > p{
	clear:both;
	text-align: center;
	color:white;
}
.m-header{
	display: none;
}
.m-footer{
	display: none;
}

@media screen and (max-width:1200px){
	 	.bc_navlistbar .header_l img{
			margin:10px 0;
		}
		.bc_navlistbar .header_m > ul > li{
			width:75px;
		}
		.bc_navlistbar .hezuo_hide > ul >li{
			width:80px;
		}
		.bc_navlistbar .header_r{
			margin-right: 10px;
		}
	}


@media screen and (max-width:960px){
	 	.bc_navlistbar{
	 		display: none;
	 	}
	 	.m-header{
			display: block;
		}
		.container-index{
			margin-top: 100px;
		}
	}

@media screen and (max-width:769px){
      .bc_footlistbar{
      	display: none;
      }
      .m-footer{
      	display: block;
      }
      .bc_navlistbar{
	 		display: none;
	 	}
      .container-index,.wuye,.xinwen,.app,.kaifas,.main-connect{
		margin-bottom: 40px;
	  }
	}