@charset "utf-8";
 
*
{
	margin:0;
	padding:0;
	border:0;
}



.xinwen{
	margin-top: 80px;
}
/*头部*/
.xw_head{
	height:100px;
	background-image: url("../images/newslist/xinwen01.jpg");
	background-position: 100%;
}
.xw_head img{
	margin:13px;
	margin-left:5%;
}
.xw_head span{
	color:white;
	font-size:26px;
}
/*轮播图*/
.lunbo{
	text-align: center;
	width:100%;
	margin-bottom: 15px;
}
.swiper-container{
	width:45%;
	margin:0 auto;
}
.swiper-wrapper{
	width:100%;
	position:relative;
}
.swiper-wrapper img{
	margin-top: 30px;
	width:500px;
	height:300px;
	cursor:pointer;
}
.swiper-button-next{
	/*插件默认没法改*/
	/*background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");*/
}
.swiper-slide h3{
	font-weight: bold;
}

.swiper-slide .neirong{
	position:absolute;
	bottom: 0;
	left:11%;
	margin-bottom: 0;
	width:497px;
	height:70px;
	opacity:0.5;
	color:white;
	line-height: 70px;
	background-color:black;
	font-size: 16px;
	text-align: left;
}
.swiper-button-prev,.swiper-button-next{
	margin-top:40px !important;
}

/*详情*/
.xiangqing{
	width:80%;
	margin:0 auto;
}
.xiangqing li{
	padding: 20px 0;
	border-bottom:1px dotted #ccc;
	height: 150px;
	list-style: none;
}
.xq_l{
	float:left;
	width:20%;
	height:100%;
}
.xq_l img{
	width:100%;
	height:100%;
	cursor: pointer;
}
.xq_r{
	width:75%;
	height:100%;
	float:right;
	cursor: pointer;
}
.xq_r h4{
	float:left;
	font-weight: bold;
}
.xq_r span{
	float:right;
}
.xq_r p{
	clear:both;
}
.mulu{
	text-align: center;
	margin-top: 40px;
}
.mulu > div{
	overflow: hidden;
	margin:0 auto;
	height:60px;
	font-size: 16px;
	width:90%;
	border-top: 2px solid green;
}
.mulu > div > a{
	margin:18px 0;
	padding:2px 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	cursor:pointer;
}
.mulu > div > a.active{
	background: green;
	color: white;
}
.mulu > div > a:hover{
	color:green;
}
.mulu > div > a.active:hover{
	color:white;
}