<div class="trademark_concept">
	<div class="zr_header">
		<h1>品牌概念</h1>
		<p>什么是智慧小区？</p>
	</div>
	<div class="zr_container">
		<img src="__STATIC_PATH__/static/cityopration/images/join1(1).png"/>
		<p>乐住智慧小区是基于小区服务场景以小区业主为中心，使用互联网和物联 网应用将小区业主、物业服务公司、小区公共区域的设备、小区周边商业 链接起来，实现人、设备、服务的互联互通，从而实现一个让业主满意， 物业服务高质高效，小区商圈体验智能化的小区服务生态。</p>
		<h2>乐住,小区生态链的“连接器”</h2>
	</div>
</div>

<style type="text/css">
	body{
		background: #f5f5fc;
	}
	.trademark_concept{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
	}
	.trademark_concept .zr_header{
		padding-top: 40px;
		text-align: center;
		margin-bottom: 10px;
		color: #3D3D3D;
	}
	.trademark_concept .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.trademark_concept .zr_header p{
		font-size: 20px;
		line-height: 33px;
	}
	/*容器*/
	.trademark_concept .zr_container img{
		width: 100%;
	}
	.trademark_concept .zr_container p{
		width: 90%;
		margin: 20px auto;
		font-size: 20px;
		line-height: 30px;
	}
	.trademark_concept .zr_container h2{
		font-size: 20px;
		color: #49d075;
		width: 280px;
		padding: 10px;
		border: 1px solid #49d075;
		margin: 20px auto;
		font-weight: 200;
		text-align: center;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.trademark_concept .zr_header h1{
			font-size: 25px;
		}
		.trademark_concept .zr_header p{
			font-size: 19px;
		}
		.trademark_concept .zr_container p{
			font-size: 19px;
		}
		.trademark_concept .zr_container h2{
			font-size: 19px;
			width: 255px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.trademark_concept .zr_header{
			margin-bottom: 7px;
		}
		.trademark_concept .zr_header h1{
			font-size: 22px;
		}
		.trademark_concept .zr_header p{
			font-size: 18px;
		}
		.trademark_concept .zr_container p{
			font-size: 18px;
			line-height: 27px;
		}
		.trademark_concept .zr_container h2{
			font-size: 18px;
			width: 240px;
			padding: 8px;
		}
	}
	@media (max-width: 640px) {
		.trademark_concept{
			padding-bottom: 20px;
		}
		.trademark_concept .zr_header{
			margin-bottom: 5px;
			padding-top: 15px;
		}
		.trademark_concept .zr_header h1{
			font-size: 16px;
		}
		.trademark_concept .zr_header p{
			font-size: 13px;
			line-height: 20px;
		}
		.trademark_concept .zr_container p{
			font-size: 13px;
			line-height: 20px;
			margin: 10px auto;
		}
		.trademark_concept .zr_container h2{
			font-size: 13px;
			width: 173px;
			padding: 5px;
			margin: 0px auto;
		}
	}
</style>