<script src="__STATICPATH__/static/js/m_common.js"></script>
<!--引入公共头部-->
{include file="common/zr_mobile_header"}
<!-- 引入导航 -->
{include file="public/head"}
<!--引入头部图片-->
{include file="productintro/header_img/header_img"}

<!--引入vue_store-->
{include file="productintro/vue_store/vue_store"}

<!--引入移动验房系统-->
{include file="productintro/check_house/check_house"}

<!--引入vue_internet-->
{include file="productintro/vue_internet/vue_internet"}

<!--引入社区运营-->
{include file="productintro/community/community"}

<!-- 联系方式 -->
{include file="common/address"}

<!-- 引入导航 -->
{include file="public/foot"}
<!--引入公共尾部-->
{include file="common/zr_mobile_footer"}