<div class="app_advertise_publication">
	<h1>APP广告刊例</h1>
	<h5>APP Advertisiing Publications</h5>
	<img src="__STATIC_PATH__/static/advertise/images/ad13.png"/>
</div>

<style type="text/css">
	.app_advertise_publication{
		margin-top: 80px;
		padding: 0px 20px;
	}
	.app_advertise_publication h1{
		font-size: 36px;
		text-align: center;
	}
	.app_advertise_publication h5{
		text-align: center;
		font-size: 14px;
		color: #aaa;
		font-weight: normal;
	}
	.app_advertise_publication img{
		width: 100%;
		margin-top: 50px;
	}
</style>