<div class="profit_budget">
	<div class="zr_header">
		<h1>盈利预算</h1>
		<p>PROFIT BUDGET</p>
	</div>
	<div class="zr_container">
		<div class="form_show">
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<th>服务楼盘</th>
						<th>所需团队与规模</th>
						<th>预计成本</th>
						<th>最小毛利率</th>
					</tr>
					<tr>
						<td>服务10个楼盘</td>
						<td>3</td>
						<td>1万/月</td>
						<td>最小毛利润约为：<span>50万</span></td>
					</tr>
					<tr>
						<td>服务30个楼盘</td>
						<td>5</td>
						<td>2万/月</td>
						<td>最小毛利润约为：<span>200万</span></td>
					</tr>
					<tr>
						<td>服务50个楼盘</td>
						<td>10-12</td>
						<td>5万/月</td>
						<td>最小毛利润约为：<span>450万</span></td>
					</tr>
					<tr>
						<td>服务100个楼盘</td>
						<td>15-20</td>
						<td>10万/月</td>
						<td>最小毛利润约为：<span>800万</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<style type="text/css">
	.profit_budget{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
	}
	.profit_budget .zr_header{
		padding-top: 40px;
		text-align: center;
		margin-bottom: 20px;
		color: #3D3D3D;
	}
	.profit_budget .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.profit_budget .zr_header p{
		font-size: 20px
	}
	/*容器*/
	.profit_budget .zr_container{
		padding-bottom: 20px;
	}
	.profit_budget .zr_container .form_show{
		width: 100%;
		background: #FFFFFF;
		color: #3D3D3D;
		font-size: 20px;
	}
	.profit_budget .zr_container .form_show table{
		width: 100%;
		text-align: center;
	}
	.profit_budget .zr_container .form_show table tr{
		height: 50px;
		line-height: 50px;
		background: #49d075;
		color: white;
	}
	.profit_budget .zr_container .form_show table tr:nth-child(2n){
		background: white;
		color: #3D3D3D;
	}
	.profit_budget .zr_container .form_show table tr th{
		width: 25%;
		text-align: center;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.profit_budget .zr_header h1 {
		    font-size: 25px;
		}
		.profit_budget .zr_header p {
		    font-size: 19px;
		}
		.profit_budget .zr_container .form_show {
		    font-size: 19px;
		}
		.profit_budget .zr_container .form_show table tr {
		    height: 45px;
		    line-height: 45px;
		}
		.profit_budget .zr_container {
		    padding-bottom: 10px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.profit_budget .zr_header h1 {
		    font-size: 22px;
		}
		.profit_budget .zr_header p {
		    font-size: 17px;
		}
		.profit_budget .zr_container .form_show {
		    font-size: 17px;
		}
		.profit_budget .zr_container .form_show table tr {
		    height: 40px;
		    line-height: 40px;
		}
	}
	@media (max-width: 640px) {
		.profit_budget .zr_header {
		    padding-top: 15px;
		}
		.profit_budget .zr_header h1 {
		    font-size: 16px;
		}
		.profit_budget .zr_header p {
		    font-size: 13px;
		}
		.profit_budget .zr_container .form_show {
		    font-size: 12px;
		}
		.profit_budget .zr_container .form_show table tr {
		    height: 30px;
		    line-height: 30px;
		}
		.profit_budget {
		     padding-bottom: 0px; 
		}
	}
</style>