
<style type="text/css">
	.connect-min{
		width: 100%;
		margin-bottom: 40px;
		padding-top: 20px;
		box-sizing: border-box;
		border-top: 1px solid #ccc;
	}
	.connect-min .mincon-concent{
		width: 90%;
		margin: auto; 
	}
	.connect-min p{
		font-size: 16px;
		text-align: center;
		margin-bottom: 10px;
	}
    .connect-min{
    	color: #333;
    }
</style>

	<div class="connect-min">
		<div class="mincon-concent">
			<p>联系我们</p>
			<p>全国招商热线:400-8090-590</p>
			<p>copyrightⓒ 2012-2018版权所有</p>
		</div>
	</div>

