
<style>
	li{
		list-style: none;
	}

	.big-box{
		width: 100%;
		height: auto;
	}
	.big-box a{
		display: inline-block;
		width: 100%;
	}
	.big-box-content{
		width: 90%;
		height: 100%;
		margin: auto;
	}
	.title{
		/*height: 160px;*/
		width: 100%;
	}

	.big-box .content-img{
		width: 100%;
		height: auto;
	}
	.big-box .content-img ul{
		width: 100%;
		overflow: hidden;
	}
	.big-box .content-img li{
		width: 48%;
		float: left;
		margin-right: 2%;
		overflow: hidden;
		position: relative;
	}
	.big-box .content-img li:hover .i-contro{
		height: 100% !important;
		line-height: 300px !important;
	}
	.big-box .content-img li:hover .bottom-title{
		border-bottom: 2px solid #44be3f;
	}
	.big-box .content-img li:last-child{
		margin-right: 0;
	}
	.big-box .content-img li img{
		width: 100%;
		vertical-align: middle;
	}
	.big-box .content-img li i{
		position: absolute;
		overflow: hidden;
		height: 50px;
		opacity: 0.5;
		line-height: 50px;
		text-align: center;
		width: 100%;
		bottom:30px; 
		left:0;
		font-style: normal;
    	font-size: 14px;
    	background: rgba(0,0,0,0.7);
    	color: #ccc;
    	transition: all 0.5s;
	}
	.bottom-title{
		width: 100%;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    font-size: 16px;
	    color: #333;
	    border-bottom: 2px solid #ccc;
	    transition: all 0.5s;
	}

	
</style>
	<div class="big-box">
	    <div class="big-box-content">
	        <div class="title">
	            <h3>楼盘全链条解决方案</h3>
	        </div>
	        <div class="border-bottom"></div>
	        <div class="content-img">
	            <ul>
	                <li>
	                    <a href=#">
	                    	<img src="http://lezhu.tv/App/Tpl/Public/lzimg/index/Building1.jpg" alt="">
	                    	<i class="i-contro">智慧小区体验馆</i>
	                    </a>
	                    <div class="bottom-title">楼盘销售</div>
	                </li>
	                <li>
	                    <a href=#">
	                    	<img src="http://lezhu.tv/App/Tpl/Public/lzimg/index/Building2.jpg" alt="">
	                    	<i class="i-contro">移动验房系统</i>
	                    </a>
	                    <div class="bottom-title">楼盘交付</div>
	                </li>
	                <li>
	                    <a href=#">
	                    	<img src="http://lezhu.tv/App/Tpl/Public/lzimg/index/Building3.jpg" alt="">
	                    	<i class="i-contro">网上物业系统</i>
	                    </a>
	                    <div class="bottom-title">楼盘入住</div>
	                </li>
	                <li>
	                    <a href=#">
	                    	<img src="http://lezhu.tv/App/Tpl/Public/lzimg/index/Building4.jpg" alt="">
	                    	<i class="i-contro">商业运营</i>
	                    </a>
	                    <div class="bottom-title">楼盘运营</div>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
