<div id="vue_store">
	<div class="vue_store">
		<h1>智慧小区体验馆，为服务助力</h1>
		<ul>
			<li><router-link to="/signo" active-class='cur_menu'>智能道闸</router-link></li>
			<li><router-link to="/access" active-class='cur_menu'>安全门禁</router-link></li>
			<li><router-link to="/vem" active-class='cur_menu'>自助售货机</router-link></li>
			<li><router-link to="/chargingpile" active-class='cur_menu'>汽车充电桩</router-link></li>
			<li><router-link to="/washcar" active-class='cur_menu'>自助洗车</router-link></li>
			<li><router-link to="/delivery" active-class='cur_menu'>自助快递柜</router-link></li>
			<li><router-link to="/payservice" active-class='cur_menu'>自助缴费终端</router-link></li>
		</ul>
		<div>
			<router-view></router-view>
		</div>
	</div>	
</div>

<template id='signoHtml'>
	<div class="signoHtml">
		<div class="h3_p">
			<h3>智能识别功能</h3>
			<p>自动识别车辆的车牌号码，并录入车辆管理系统</p>
		</div>
		<div class="h3_p">
			<h3>费用计算功能</h3>
			<p>自动识别车辆的车牌号码，并录入车辆管理系统</p>
			<p>临时停车交费（根据物业规则设定）</p>
			<p>临时停车有六种支付方式：乐住支付、现金支付、银联闪付、iPay支付 、微信支付、支付宝支付；</p>
			<p>费用到期提醒功能（月卡用户）</p>
		</div>
		<div class="h3_p">
			<h3>车辆进出记录</h3>
			<p>对车辆的出入时间进行记录</p>
		</div>
		<div class="h3_p">
			<h3>智能识别功能</h3>
			<p>APP显示空闲车位并导航 (增配地磁感应设备，建议用于商业停车场）</p>
		</div>
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq1.png"/>
		</div>
	</div>
</template>

<template id="accessHtml">
	<div class="accessHtml">
		<div class="h3_p">
			<h3>业主开关门</h3>
			<p>门禁卡开门；</p>
			<p>门禁密码开门；</p>
			<p>手机”摇一摇”开门，手机“点击”开门（厂家已实现，通过蓝牙开门需对厂家说明.</p>
			<p>厂家才会装上蓝牙模块,实现APP开门功能）；</p>
			<p>WIFI连接开门（需要门禁厂家设备有WIFI功能才能实现）</p>
		</div>
		<div class="h3_p">
			<h3>访客开门</h3>
			<p>访客输入密码钥匙(数字密码)开门。(需厂家系统支持业主端生成临时开门密码，开门后即时失效）</p>
			<p>二维码扫码开门（需要门禁厂家在读卡器上安装二维码扫描器才能实现二维码开门，业主授权给访客，访客凭二维码扫描进入）</p>
		</div>
		<div class="h3_p">
			<h3>门禁记录</h3>
			<p>包含业主开关门、访客开关门及业主授权记录</p>
		</div>
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq2.png"/>
		</div>
	</div>
</template>

<template id="vemHtml">
	<div class="vemHtml">
		<div class="many_p">
			<p>充分运用云计算、物联网等新一代信息技术，将传统纸质货币进行自助售货机的购物，转向成线下购物，线上支付，通过手机APP进行扫码支付购物费用，进行线下自助售货机的购物交易。</p>
			<p>1、支持市面主流支付方式例：乐住支付、银联支付、银联闪付、微信、支付宝、现金、一卡通等；</p>
			<p>2、支持线上线下各种营销活动；</p>
			<p>3、自助售货机商品种类、数量、价格查询；</p>
			<p>4、自助售货机位置查询。</p>
		</div>	
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq3.png"/>
		</div>
	</div>
</template>

<template id="chargingpileHtml">
	<div class="chargingpileHtml">
		<div class="many_p">
			<p>1.GPS定位功能：APP查看小区内的充电桩设备的位置</p>
			<p>2.设备使用状态查看功能</p>
			<p>3.费用计算功能：APP自动计算出本次充电费用</p>
			<p>4.支付功能：乐住支付、微信、支付宝、银联支付</p>
			<p>5.APP提醒功能：通过APP设置单次充电时间，充电结束自动提醒</p>
		</div>	
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq4.png"/>
		</div>
	</div>
</template>

<template id="washcarHtml">
	<div class="washcarHtml">
		<div class="many_p">
			<p>1.GPS定位功能：APP查看小区内自助洗车设备位置</p>
			<p>2.设备使用状态查看功能</p>
			<p>3.费用计算功能：APP自动计算出本次充电费用</p>
			<p>4.支付功能：乐住支付、微信、支付宝、银联支付</p>
		</div>	
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq5.png"/>
		</div>
	</div>
</template>

<template id="deliveryHtml">
	<div class="deliveryHtml">
		<div class="many_p">
			<p>1.有件到时乐住提醒有快件到达</p>
			<p>2.通过乐住快件取键码打开自助收件柜</p>
			<p>3.定位功能，安装快递柜的地方可通过GPS定位</p>
			<p>4.还可自助邮寄快递，方便快捷，物业可赚取服务费</p>
			<p>5.电子显示屏增设广告位，可提升物业营收</p>
		</div>	
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq6.png"/>
		</div>
	</div>
</template>

<template id="payserviceHtml">
	<div class="payserviceHtml">
		<div class="many_p">
			<p>1.银联便民支付，拥有银联支付的安全保障；</p>
			<p>2.支持便民缴费等多种功能： 公共事业缴费如水费、电费、燃气费等；本省话费缴费、全国手机直充；银行卡查余等常用便民功能；信用卡还款等；</p>
			<p>3.其他待开通功能：根据政务开放实际情况等，如办理民政类事务、社会保险等电子政务办理。</p>
		</div>	
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/zhxq7.png"/>
		</div>
	</div>
</template>
<script type="text/javascript">
	const router=new VueRouter({
		routes:[
			{
				//重定向
				path:'/',
				redirect:'/signo'
			},
			{
				path:'/signo',
				component:{
					template:'#signoHtml'
				}
			},
			{
				path:'/access',
				component:{
					template:'#accessHtml'
				}
			},
			{
				path:'/vem',
				component:{
					template:'#vemHtml'
				}
			},
			{
				path:'/chargingpile',
				component:{
					template:'#chargingpileHtml'
				}
			},
			{
				path:'/washcar',
				component:{
					template:'#washcarHtml'
				}
			},
			{
				path:'/delivery',
				component:{
					template:'#deliveryHtml'
				}
			},
			{
				path:'/payservice',
				component:{
					template:'#payserviceHtml'
				}
			}
		]
	});
	new Vue({
		el:"#vue_store",
		data:[],
		methods:{},
		router
	});
</script>

<!--头部style-->
<style type="text/css">
	.vue_store{
		margin: 0px;
		padding: 0px 15px;
		list-style: none;
		margin-top: 95px;
	}
	.vue_store h1{
		font-size: 30px;
		text-align: center;
		color: #333;
	}
	.vue_store ul{
		overflow: hidden;
		margin-top: 65px;
	}
	.vue_store ul li{
		width: 165px;
		height: 40px;
		background: #ededed;
		text-align: center;
		float: left;
		list-style: none;
		line-height: 40px;
		font-size: 18px;
		margin-right: 20px;
	}
	.vue_store ul li .cur_menu{
		background: #49d075;
		color: #FFFFFF;
	}
	.vue_store ul li a{
		text-decoration: none;
		color: #333333;
		width: 165px;
		height: 40px;
		display: block;
	}
	.vue_store ul li:hover{
		background: #49d075;		
	}
	.vue_store ul li:hover  a{
		color: #ffffff;
	}
</style>
<!--signoHtml部分style-->
<style type="text/css">
	.signoHtml,.accessHtml,.vemHtml,.chargingpileHtml,.washcarHtml,.deliveryHtml,.payserviceHtml{
		padding-top: 45px;
		position: relative;
		animation: click_show 0.5s;
		-moz-animation: click_show 0.5s;
		-webkit-animation: click_show 0.5s;
		-moz-animation: click_show 0.5s;
	}
	.signoHtml .h3_p,.accessHtml .h3_p{
		margin-top: 35px;
		width: 600px;
	}
	.signoHtml h3,.accessHtml h3{
		font-size: 20px;
		color: #3d3d3d;
		font-weight: normal;
	}
	.signoHtml p,.accessHtml p{
		font-size: 16px;
		line-height: 32px;
		color: #777;
	}
	.signoHtml .img_phone,.accessHtml .img_phone,.vemHtml .img_phone,.chargingpileHtml .img_phone,.washcarHtml .img_phone,.deliveryHtml .img_phone,.payserviceHtml .img_phone{
		position: absolute;
		top: 200px;
		right: -10px;
	}
	/*进场/点击时的动画，兼容其他浏览器*/
	@keyframes click_show{
		from{top:-60px;}
		to{top:0px;}
	}
	@-moz-keyframes click_show{
		from{top:-60px;}
		to{top:0px;}
	}
	@-webkit-keyframes click_show{
		from{top:-60px;}
		to{top:0px;}
	}
	@-ms-keyframes click_show{
		from{top:-60px;}
		to{top:0px;}
	}
</style>
<!--accessHtml部分style-->
<style type="text/css">
	/*写在signoHtml中*/
</style>
<!--vemHtml部分style-->
<style type="text/css">
/*部分图片的代码和进场动画的代码在signoHtml中*/
	.vemHtml,.chargingpileHtml{
		padding-top: 200px;
	}
	.vemHtml .many_p,.chargingpileHtml .many_p,.washcarHtml .many_p,.deliveryHtml .many_p,.payserviceHtml .many_p{
		width: 600px;
	}
	.vemHtml .many_p p,.chargingpileHtml .many_p p,.washcarHtml .many_p p,.deliveryHtml .many_p p,.payserviceHtml .many_p p{
		font-size: 16px;
		padding: 10px 0px;
		color: #3d3d3d;
	}
	.chargingpileHtml,.washcarHtml,.deliveryHtml,.payserviceHtml{
		padding-top: 250px;
	}
</style>
<!--chargingpile部分，写在signoHtml和venHtml-->
