{include file="public/header"} 

 
<div class="container mt-3">
    <h1>新闻编辑页面</h1>
    <form action="{:url('update')}" method="post">
        <div class="form-group">
            <label>新闻标题</label>
            <input type="text" class="form-control" value='{$info_list.title}' name="title">
        </div>
        <div class="form-group">
            <label>新闻简介</label>
            <input type="text" class="form-control" value="{$info_list.short_content}" name="short_content">
        </div>
        <div class="form-group">
            <label>内容</label>
            <textarea id="text_content" name="content" style="width:80%">
            	{$info_list.content}
            </textarea>
        </div>
        <div class="form-group">
        	<input type="hidden" name="id" value="{$info_list.id}">
            <input type="submit" class="btn btn-primary" value="更新">
        </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/static/library/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/library/ueditor/ueditor.all.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('text_content');
</script>

{include file="public/footer"}