<div class="join_advantage">
	<div class="zr_header">
		<h1>加盟优势</h1>
		<p>Franchise advantage</p>
	</div>
	<div class="zr_container">
		<ul>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join12.png"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join13.png"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join14.png"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join15.png"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join16.png"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join17.png"/>
			</li>
		</ul>
	</div>
</div>

<style type="text/css">
	.join_advantage{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
	}
	.join_advantage .zr_header{
		padding-top: 25px;
		text-align: center;
		margin-bottom: 10px;
		color: #3D3D3D;
	}
	.join_advantage .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.join_advantage .zr_header p{
		font-size: 22px
	}
	/*容器*/
	.join_advantage .zr_container{
		padding: 0 5%;
	}
	.join_advantage .zr_container ul{
		overflow: hidden;
	}
	.join_advantage .zr_container ul li{
		float: left;
		width: 48%;
		margin-right: 2%;
		list-style: none;
		margin-bottom: 10px;
	}
	.join_advantage .zr_container ul li:nth-child(2n){
		margin-right: 0;
	}
	.join_advantage .zr_container ul li img{
		width: 100%;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.join_advantage .zr_header h1 {
		    font-size: 25px;
		}
		.join_advantage .zr_header p {
		    font-size: 20px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.join_advantage .zr_header h1 {
		    font-size: 22px;
		}
		.join_advantage .zr_header p {
		    font-size: 16px;
		}
	}
	@media (max-width: 640px) {
		.join_advantage .zr_header h1 {
		    font-size: 16px;
		}
		.join_advantage .zr_header p {
		    font-size: 13px;
		}
	}
</style>