<div class="software_show_lunbo">
	<h1>软件著作权</h1>
	<div class="ul_move">
		<ul>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright1.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright2.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright3.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright4.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright5.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright6.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright1.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright2.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright3.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright4.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright5.jpg"/>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/companyintro/images/copyright6.jpg"/>
			</li>
		</ul>
	</div>
	
</div>

<style type="text/css">
	.software_show_lunbo{
		padding: 0px 20px 20px 20px;
		
	}
	.software_show_lunbo h1{
		padding-left: 10px;
		border-left: 4px solid #49d074;
		font-size: 22px;
		margin: 25px 0;
	}
	.software_show_lunbo .ul_move{
		position: relative;
		height: 165px;
		overflow: hidden;
	}
	.software_show_lunbo .ul_move:hover ul{
		animation-play-state: paused;
	}
	.software_show_lunbo .ul_move ul{
		overflow: hidden;
		position: absolute;
		left: 0px;
		width: 10000px;
		animation: move_ul_left 10s infinite linear;
	}
	.software_show_lunbo .ul_move ul li{
		list-style: none;
		float: left;
	}
	.software_show_lunbo .ul_move ul li img{
		margin-right: 10px;
		height: 150px;
	}
	@keyframes move_ul_left{
		from{left: 0px;}
		to{left: -1920px;}
	}
</style>
