<div class="welcome_join">
	<a id="welcome_join" name="welcome_join"></a>
	<div class="zr_header">
		<h1>诚邀各行业精英加盟</h1>
		<p>WELCOME TO JOIN</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="word_img">
		<div class="many_show">
			<ul>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite1.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite2.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite3.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite4.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite5.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite6.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite7.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite8.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite9.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite10.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite9.jpg"/>
					<p>房产策划销售</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/static/cityopration/images/elite10.jpg"/>
					<p>房产策划销售</p>
				</li>
				
			</ul>
		</div>
		<div class="img_right">
			<img src="__STATIC_PATH__/static/cityopration/images/elite-right.jpg"/>
		</div>
	</div>
</div>

<style type="text/css">
	/*头部*/
	.welcome_join{
		color: #3D3D3D;
		padding: 0px 15px;
		padding-bottom: 20px;
		position: relative;
		
	}
	.welcome_join .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.welcome_join .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.welcome_join .zr_header p{
		font-size: 16px;
	}
	.welcome_join .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.welcome_join .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*展示内容*/
	.welcome_join .word_img{
		overflow: hidden;
	}
	.welcome_join .word_img .many_show{
		float: left;
		margin-right: 100px;
	}
	.welcome_join .word_img .many_show ul{
		overflow: hidden;
		width: 570px;
		font-size: 20px;
	}
	.welcome_join .word_img .many_show ul li{
		float: left;
		list-style: none;
		overflow: hidden;
		margin-right: 85px;
		margin-bottom: 25px;
		height: 45px;
	}
	.welcome_join .word_img .many_show ul li:nth-child(2n){
		margin-right: 0;
	}
	.welcome_join .word_img .many_show ul li img{
		float: left;
	}
	.welcome_join .word_img .many_show ul li p{
		float: left;
		line-height: 45px;
		margin-left: 30px;
	}
	.welcome_join .word_img .img_right{
		float: left;
	}
	/*瞄点链接*/
	.welcome_join #welcome_join{
		position: absolute;
		top: -140px;
	}
</style>