<div class="community">
	<h1>社区运营 为生活添彩</h1>
	<div class="zr_container">
		<div class="img_phone">
			<img src="__STATIC_PATH__/static/productintro/images/product12.png"/>
		</div>	
		<div class="many_h1_p">
			<div class="h1_p">
				<h1>裂变/返利营销：</h1>	
				<p>邀请好友赠送红包、优惠券</p>
			</div>
			<div class="h1_p">
				<h1>广告营销:</h1>
				<p>拓展物业收入，提升商户在小区的影响力，互利双赢模式;</p>
			</div>
			<div class="h1_p">
				<h1>支持周边商家线上交易：</h1>
				<p>将小区周边商家进行线上线下相结合，一键购物下单；</p>
			</div>
			<div class="h1_p">
				<h1>支持拍照上传:</h1>
				<p>直观记录验房现场的图像，准确记录验房问题；</p>
			</div>
			<div class="h1_p">
				<h1>数据分析：</h1>
				<p>掌握客户购物习惯、喜爱，商家成交、转化率等，来提升商家的销售；</p>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.community{
		margin: 0px;
		padding: 0px 15px;
		list-style: none;
		padding-top: 30px;
		background: white;
		margin-top: 15px;
	}
	.community h1{
		font-size: 18px;
		text-align: center;
		color: #49d075;
		width: 95px;
		font-weight: 200;
		margin: 0 auto;
	}
	/*容器内部*/
	.community .zr_container{
		padding: 20px 2%;		
		font-size: 14px;
		color: #3D3D3D;
	}
	.community .zr_container .img_phone img{
		width: 100%;
	}
	/*内容*/
	.community .zr_container .many_h1_p{}
	.community .zr_container .many_h1_p .h1_p{
		margin-bottom: 18px;
	}
	.community .zr_container .many_h1_p .h1_p h1{
		padding-left: 10px;
	    border-left: 2px solid #49d074;
	    height: 18px;
	    line-height: 18px;
	    margin-bottom: 8px;
	    font-size: 14px;
	    text-align: left;
	    margin: 0;
	    color: #3D3D3D;
	    width: 100%;
	}
	.community .zr_container .many_h1_p .h1_p p{
		line-height: 25px;
	}
	
	@media (max-width:640px){
		.community h1{
			font-size: 15px;
			width: 75px;
		}
	}
	@media (min-width:960px) and (max-width:1280px){
		.community{
			padding-top: 45px;
		}
		.community h1{
			font-size: 22px;
			width: 110px;
		}
		.community .zr_container{
			margin-top: 20px;
			font-size: 16px;
		}
		.community .zr_container .many_h1_p .h1_p h1{
			font-size: 16px;
		}
	}
	@media (min-width:1280px){
		.community{
			padding-top: 50px;
		}
		.community h1{
			font-size: 26px;
			width: 135px;
		}
		.community .zr_container{
			margin-top: 20px;
			font-size: 18px;
		}
		.community .zr_container .many_h1_p .h1_p h1{
			font-size: 18px;
		}
	}
</style>