<div class="lezhu_product">
	<a id="lezhu_product" name="lezhu_product"></a>
	<div class="zr_header">
		<h1>乐住产品</h1>
		<p>楼盘全链条解决产品</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="img_container">
		<img src="__STATIC_PATH__/static/cityopration/images/chain.png"/>
	</div>
</div>

<style type="text/css">
	/*头部*/
	.lezhu_product{
		color: #3D3D3D;
		background: url('__STATIC_PATH__/static/cityopration/images/brand-bg1.jpg') center no-repeat;
		width: 100%;
		height: 720px;
		color: white;
		position: relative;
	}
	.lezhu_product .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.lezhu_product .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.lezhu_product .zr_header p{
		font-size: 16px;
	}
	.lezhu_product .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.lezhu_product .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*图片容器*/
	.lezhu_product .img_container{
		margin-top: 20px;
	}
	.lezhu_product .img_container img{
		width: 100%;
	}
	/*瞄点链接*/
	.lezhu_product #lezhu_product{
		position: absolute;
		top: -140px;
	}
</style>