<div class="cooperation_relation">
	<div class="zr_header">
		<h1>合作级别与关系</h1>
		<p>Collaboration levels and relationships</p>
	</div>
	<div class="container">
		<div class="h1_img">
			<h1>乐住中国</h1>
			<div class="img_show">
				<img src="__STATIC_PATH__/static/cityopration/images/join9.png"/>
			</div>
		</div>
		<div class="h1_img">
			<h1>城市运营商</h1>
			<div class="img_show">
				<img src="__STATIC_PATH__/static/cityopration/images/join10.png"/>
				<img src="__STATIC_PATH__/static/cityopration/images/join9.png"/>
				<img src="__STATIC_PATH__/static/cityopration/images/join11.png"/>
			</div>
		</div>
		<div class="many_h1_h2_p">
			<div class="h1_h2_p">
				<h1>A类城市</h1>
				<div class="many_p">
					<p>1、2、3级经销商</p>
				</div>
			</div>
			<div class="h1_h2_p">
				<h1>B类城市</h1>
				<div class="many_p">
					<p>1、2、3级经销商</p>
				</div>
			</div>
			<div class="h1_h2_p">
				<h1>C类城市</h1>
				<div class="many_p">
					<p>1、2、3级经销商</p>
				</div>
			</div>
		</div>
		
	</div>
</div>

<style type="text/css">
	.cooperation_relation{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
	}
	.cooperation_relation .zr_header{
		padding-top: 25px;
		text-align: center;
		margin-bottom: 25px;
		color: #3D3D3D;
	}
	.cooperation_relation .zr_header h1{
		font-size: 18px;
		font-weight: 200;
	}
	.cooperation_relation .zr_header p{
		font-size: 12px
	}
	/*容器*/
	.cooperation_relation .container{
		font-size: 14px;
	}
	.cooperation_relation .container .h1_img{
		width: 100%;
		text-align: center;
	}
	.cooperation_relation .container h1{
		font-size: 14px;
		font-weight: normal;
	}
	.cooperation_relation .container .h1_img .img_show{
		margin: 5px 0px;
	}
	.cooperation_relation .container .h1_img .img_show img:nth-child(2){
		margin: 0px 80px;
	}
	.cooperation_relation .many_h1_h2_p{
		overflow: hidden;
		width: 100%;
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p{
		float: left;
		width: 33.3%;
		text-align: center;
	}
	.cooperation_relation .many_h1_h2_p .h1_h2_p p{
		font-size: 14px;
		line-height: 25px;		
	}
	@media (min-width: 1280px) {
		.cooperation_relation .zr_header h1 {
		    font-size: 26px;
		}
		.cooperation_relation .zr_header p {
		    font-size: 20px;
		}
		.cooperation_relation .container h1 {
		    font-size: 19px;
		}
		.cooperation_relation .many_h1_h2_p .h1_h2_p p {
		    font-size: 19px;
		}
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.cooperation_relation .zr_header h1 {
		    font-size: 25px;
		}
		.cooperation_relation .zr_header p {
		    font-size: 19px;
		}
		.cooperation_relation .container h1 {
		    font-size: 18px;
		}
		.cooperation_relation .many_h1_h2_p .h1_h2_p p {
		    font-size: 18px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.cooperation_relation .zr_header h1 {
		    font-size: 22px;
		}
		.cooperation_relation .zr_header p {
		    font-size: 16px;
		}
		.cooperation_relation .container h1 {
		    font-size: 16px;
		}
		.cooperation_relation .many_h1_h2_p .h1_h2_p p {
		    font-size: 16px;
		}
	}
	@media (max-width: 640px) {
		.cooperation_relation .zr_header h1 {
		    font-size: 16px;
		}
		.cooperation_relation .zr_header p {
		    font-size: 13px;
		}
		.cooperation_relation .container .h1_img .img_show img:nth-child(2) {
		    margin: 0px 60px;
		}
		.cooperation_relation .container h1 {
		    font-size: 12px;
		}
		.cooperation_relation .many_h1_h2_p .h1_h2_p p {
		    font-size: 12px;
		    line-height: 20px;
		}
		.cooperation_relation .zr_header {
		    margin-bottom: 15px;
		}
	}
</style>