<div class="app_advertise_publication">
	<div class="title">
		<h3>APP广告刊例</h3>
		<p>APP Advertisiing Publications</p>
	</div>
	<img src="__STATIC_PATH__/static/advertise/images/ad13.png"/>
</div>

<style type="text/css">
	.app_advertise_publication{
		width: 92%;
		margin: 0 auto;
	}
	.app_advertise_publication .title h3{
		font-size: 18px;
		text-align: center;
	}
	.app_advertise_publication .title > p{
		text-align: center;
		font-size: 14px;
		color: #aaa;
		font-weight: normal;
	}
	.app_advertise_publication img{
		width: 100%;
	}
</style>