<div class="cooperation_advantage">
	<a id="cooperation_advantage" name="cooperation_advantage"></a>
	<div class="zr_header">
		<h1>加盟优势</h1>
		<p>FRANCHISE ADVANTAGE</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="container">
		<ul>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join1.png"/>
				<h1>0加盟代理费</h1>
				<div class="many_p">
					<p>实力品牌0加盟费</p>
					<p>投入低风险小</p>
					<p>操作简单收益快</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join2.png"/>
				<h1>0品牌使用费</h1>
				<div class="many_p">
					<p>标杆品牌0使用费</p>
					<p>加盟无后顾之忧</p>
					<p>品牌业务经验丰富</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join3.png"/>
				<h1>0产品升级费</h1>
				<div class="many_p">
					<p>产品升级免费</p>
					<p>专业研发团队</p>
					<p>系统免费维护</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join4.png"/>
				<h1>多种合作方式</h1>
				<div class="many_p">
					<p>运营商，一、二、三级经销商</p>
					<p>依自身条件灵活选择</p>
					<p>多重合作方案</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join5.png"/>
				<h1>全程运营辅导</h1>
				<div class="many_p">
					<p>开业指导</p>
					<p>运营指导</p>
					<p>市场指导</p>
				</div>
			</li>
			<li>
				<img src="__STATIC_PATH__/static/cityopration/images/join6.png"/>
				<h1>丰厚利润空间</h1>
				<div class="many_p">
					<p>收益持续性</p>
					<p>收益多样性</p>
					<p>收益广泛性</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<style type="text/css">
	/*头部*/
	p{
		margin-bottom: 0;
	}
	.cooperation_advantage{
		color: #3D3D3D;
		padding: 0px 15px;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 120px;
	}
	.cooperation_advantage .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.cooperation_advantage .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.cooperation_advantage .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.cooperation_advantage .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*容器*/
	.cooperation_advantage .container{}
	.cooperation_advantage .container ul{
		overflow: hidden;
		width: 100%;
	}
	.cooperation_advantage .container ul li{
		padding: 45px 0px;
		float: left;
		width: 33.3%;
		height: 280px;
		list-style: none;
		text-align: center;
		background: #49d075;
		color: white;
		box-sizing: border-box;
		cursor: pointer;
	}
	.cooperation_advantage .container ul li:hover{}
	.cooperation_advantage .container ul li:hover img{
		transition: all 0.6s;
		transform: scale(1.15);
	}
	.cooperation_advantage .container ul li:hover h1{
		transition: all 0.6s;
		transform: scale(1.15);
	}
	.cooperation_advantage .container ul li:hover .many_p p{
		transition: all 0.6s;
		transform: scale(1.15);
	}
	.cooperation_advantage .container ul li:nth-child(2n){
		background: #f4f4f4;
		color: #333333;
		
	}
	.cooperation_advantage .container ul li h1{
		padding: 20px 0px;
		font-weight: 200;
		font-size: 30px;
	}
	.cooperation_advantage .container ul li .many_p p{
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}
	/*瞄点链接*/
	.cooperation_advantage #cooperation_advantage{
		position: absolute;
		top: -140px;
	}
</style>