<script src="__STATICPATH__/static/js/m_common.js"></script>
<!--引入公共头部-->
{include file="common/zr_mobile_header"}
<!-- 引入导航 -->
{include file="public/head"}
<!--引入头部图片-->
{include file="cityopration/header_img/header_img"}

<!--引入品牌概念-->
{include file="cityopration/trademark_concept/trademark_concept"}

<!--引入市场前景-->
{include file="cityopration/market_prospect/market_prospect"}

<!--引入选择意义-->
{include file="cityopration/why_select/why_select"}

<!--引入乐住产品-->
{include file="cityopration/lezhu_product/lezhu_product"}

<!--引入盈利预算-->
{include file="cityopration/profit_budget/profit_budget"}

<!--引入精英加盟-->
{include file="cityopration/join_us/join_us"}

<!--引入合作与级别关系-->
{include file="cityopration/cooperation_relation/cooperation_relation"}

<!--引入加盟优势-->
{include file="cityopration/join_advantage/join_advantage"}
<!-- 联系方式 -->
{include file="common/address"}

<!-- 底部导航 -->
{include file="public/foot"}
<!--引入公共尾部-->
{include file="common/zr_mobile_footer"}