<div class="why_select">
	<h1>为什么要选择乐住智慧小区？</h1>
	<h5>Why choose to live in the wisdom of the community?</h5>
	<ul>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad1.png"/>
			<div class="h3_p">
				<h3>精准目标受众</h3>
				<p>楼盘消费层次定位，根据消费目标客户群选择不同阶层咯盘定位。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad2.png"/>
			<div class="h3_p">
				<h3>物业系统通报</h3>
				<p>业主居家必备生活工具,业主水、点、燃气、停车费、物业费缴纳必用<br>钥匙和工具。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad3.png"/>
			<div class="h3_p">
				<h3>有效传播时段</h3>
				<p>按装修入住进程传播，从入伙到装修到入住，根据业主生活需求分阶<br>段营销。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad4.png"/>
			<div class="h3_p">
				<h3>实名用户数据</h3>
				<p>清晰量化的广告效果，APP受众均为实名制业主，营销效果量化可<br>计。</p>
			</div>
		</li>
	</ul>
</div>

<style type="text/css">
	.why_select{
		margin-top: 70px;
		padding: 0px 20px;
	}
	.why_select h1{
		font-size: 36px;
		text-align: center;
	}
	.why_select h5{
		text-align: center;
		font-size: 14px;
		color: #aaa;
		font-weight: normal;
	}
	.why_select ul{
		overflow: hidden;
		margin-top: 55px;
	}
	.why_select ul li{
		list-style: none;
		float: left;
		width: 48%;
		height: 590px;
		font-size: 20px;
	}
	.why_select ul li:nth-child(1),.why_select ul li:nth-child(3){
		margin-right: 4%;		
	}
	.why_select ul li img{
		width: 100%;
		margin-bottom: 30px;
	}
	.why_select ul li .h3_p h3{
		color: #333;
	}
	.why_select ul li .h3_p p{
		color: #3D3D3D;
		line-height: 26px;
	}
</style>