<!--引入公共头部-->
{include file="common/header"}

<!--引入公共导航头部-->
{include file="/public/head"}

<!--引入头部图片-->
{include file="advertise/header_img/header_img"}

<!--引入为什么选择-->
{include file="advertise/why_select/why_select"}

<!--引入为什么app广告展示-->
{include file="advertise/app_advertise_forms/app_advertise_forms"}

<!--引入为什么app广告刊例-->
{include file="advertise/app_advertise_publication/app_advertise_publication"}

<!--引入公共导航尾部-->
{include file="/public/foot"}

<!--引入公共尾部-->
{include file="common/footer"}
