<div class="market_prospect">
	<a id="market_prospect" name="market_prospect"></a>
	<div class="zr_header">
		<h1>市场前景</h1>
		<p>下一个十年，为什么是智慧小区</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="many_p">
		<p>1.房产现状：住宅小区智能化、互联网化已是大势所趋，全国各地开发商有意提升楼盘居住舒适度、科技化和人性化服务作为楼盘销售的新亮点，以万科、绿城、绿地等地产为先期代 表纷纷抛出智慧、互联网+等概念，旨在打造城市住宅的全新风向标；</p>
		<p>2.物业现状：物业竞争日趋激烈，提升服务水平势在必行；物业缺乏合适的平台与业主进行互动，物业与业主缺少沟通，导致业主不理解物业所做工作；物业缺乏新的利润增长点来改 善运营。业主消费需求、提高倒逼物业物业改变管理方式、服务手段。</p>
		<p>3.业主需求：国外社区商业发展如火如荼，随着业主消费水平、消费理念的提高与转变，急需出现一个能整合商家、物业、业主于一体社区平台，提升业主办事效率，实现社区快捷生 活服务。</p>
	</div>
	<div class="word_img">
		<div class="two_p">
			<p>根据安居客房源信息：</p>
			<p>15个新一线城市中高端楼盘约15000个，30个二线城市中高端楼盘为20000个，按1000户/楼盘，3.5万个楼盘，按平均2人一户，7000万住户每月产生500元水电煤生活缴费，日常生活支出1000元/月。月基础生活消费额为7000万*1500=1050亿，通过智慧小区挖掘包含家庭保健类、旅游类、文化类、享乐类消费产品，通过智慧小区的运用，撬动万亿市场的发展。</p>
		</div>
		<div class="two_img">
			<div class="one_img">
				<p>1050亿</p>
				<p>市场容量对比</p>
				<p>1亿</p>
				<img src="__STATIC_PATH__/static/cityopration/images/arrow4.jpg"/>
			</div>
			<div class="one_img">
				<p>35000个</p>
				<p>智慧楼盘对比</p>
				<p>200个</p>
				<img src="__STATIC_PATH__/static/cityopration/images/arrow4.jpg"/>
			</div>
		</div>
	</div>
	<div class="one_h1">
		<h1>你想来掘这桶金吗？</h1>
	</div>
</div>

<style type="text/css">
	.market_prospect{
		margin-top: 120px;
		color: #fff;
		background: #21253c;
		padding: 0px 15px;
		position: relative;
	}
	/*头部*/
	.market_prospect .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.market_prospect .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.market_prospect .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.market_prospect .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*多个p*/
	.market_prospect .many_p p{
		line-height: 26px;
		margin-bottom: 25px;
	}
	/*一个小盒子*/
	.market_prospect .word_img{
		background: #2d2f3c;
		padding: 60px 60px 20px 60px;
		overflow: hidden;
	}
	.market_prospect .word_img .two_p{
		width: 577px;
		float: left;
		margin-right: 30px;
	}
	.market_prospect .word_img .two_p p{
		line-height: 44px;
	}
	.market_prospect .word_img .two_img{
		float: left;
		overflow: hidden;
		margin-top: 50px;
	}
	.market_prospect .word_img .two_img .one_img{
		float: left;
		position: relative;
		width: 230px;
		height: 230px;
		margin-left: 60px;
	}
	.market_prospect .word_img .two_img .one_img img{
		border-radius: 50%;
		position: absolute;
		left: 50px;
		top: 50px;
	}
	.market_prospect .word_img .two_img .one_img p{
		position: absolute;
	}
	.market_prospect .word_img .two_img .one_img p:nth-child(1){
		left: 0px;
		top: 40px;
	}
	.market_prospect .word_img .two_img .one_img p:nth-child(2){
		left: 60px;
		top: 5px;
	}
	.market_prospect .word_img .two_img .one_img p:nth-child(3){
		left: 175px;
		top: 145px;
	}
	/*底部h1*/
	.market_prospect .one_h1 h1{
		padding: 20px 0px;
		text-align: center;
		font-weight: 200;
	}
	/*瞄点链接*/
	.market_prospect #market_prospect{
		position: absolute;
		top: -140px;
	}
</style>