<div class="why_select">
	<div class="title">
		<h3>为什么要选择乐住智慧小区？</h3>
		<p>Why choose to live in the wisdom of the community?</p>
	</div>
	<ul>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad1.png"/>
			<div class="h3_p">
				<h4>精准目标受众</h4>
				<p>楼盘消费层次定位，根据消费目标客户群选择不同阶层咯盘定位。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad2.png"/>
			<div class="h3_p">
				<h4>物业系统通报</h4>
				<p>业主居家必备生活工具,业主水、点、燃气、停车费、物业费缴纳必用钥匙和工具。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad3.png"/>
			<div class="h3_p">
				<h4>有效传播时段</h4>
				<p>按装修入住进程传播，从入伙到装修到入住，根据业主生活需求分阶段营销。</p>
			</div>
		</li>
		<li>
			<img src="__STATIC_PATH__/static/advertise/images/ad4.png"/>
			<div class="h3_p">
				<h4>实名用户数据</h4>
				<p>清晰量化的广告效果，APP受众均为实名制业主，营销效果量化可计。</p>
			</div>
		</li>
	</ul>
</div>

<style type="text/css">
	.why_select{
		width: 92%;
		margin:0 auto;
		overflow: hidden;
	}
	.why_select .title{
		padding: 20px 0 10px 0;
	}
	.why_select h3{
		margin: 0;
		font-size: 18px;
		text-align: center;
	}
	.why_select .title > p{
		text-align: center;
		font-size: 14px;
		color: #aaa;
		font-weight: normal;
	}
	.why_select ul{
		overflow: hidden;
		width: 100%;
	}
	.why_select ul li{
		list-style: none;
		float: left;
		width: 49%;
		font-size: 20px;
	}
	.why_select ul li:nth-child(1),.why_select ul li:nth-child(3){
		margin-right: 2%;		
	}
	.why_select ul li img{
		width: 100%;
	}
	.why_select ul li .h3_p h4{
		font-size: 14px;
		margin: .5rem 0 0;
		color: #333;
	}
	.why_select ul li .h3_p p{
		font-size: 12px;
	    color: #777;
	    line-height: 18px;
	    margin-bottom: 10px;
	}
</style>