<div class="trademark_concept">
	<a id="trademark_concept" name="trademark_concept"></a>
	<div class="many_word">
		<div class="h1_p">
			<h1>品牌概念</h1>
			<p>什么是智慧小区？</p>
		</div>
		<div class="one_p">
			<p>乐住智慧小区是基于小区服务场景以小区业主为中心，使用互联网和物联 网应用将小区业主、物业服务公司、小区公共区域的设备、小区周边商业 链接起来，实现人、设备、服务的互联互通，从而实现一个让业主满意， 物业服务高质高效，小区商圈体验智能化的小区服务生态。</p>
		</div>
		<div class="one_h2">
			<h2>乐住,小区生态链的“连接器”</h2>			
		</div>
	</div>
	<div class="img_right">
		<img src="__STATIC_PATH__/static/cityopration/images/brand-img.jpg"/>
	</div>
</div>

<style type="text/css">
	.trademark_concept{
		/*margin-top: 105px;*/
		padding: 0px 40px;
		padding-top: 105px;
		overflow: hidden;
		position: relative;
	}
	.trademark_concept .many_word{
		width: 460px;
		float: left;
	}
	.trademark_concept .many_word .h1_p{
		margin-bottom: 50px;
	}
	.trademark_concept .many_word .h1_p h1{
		font-size: 36px;
		font-weight: 200;
		color: #333;
	}
	.trademark_concept .many_word .h1_p p{
		font-size: 14px;
		color: #AAAAAA;
	}
	.trademark_concept .many_word .one_p{
		margin-bottom: 50px;
	}
	.trademark_concept .many_word .one_p p{
		font-size: 16px;
		color: #3D3D3D;
	}
	.trademark_concept .many_word .one_h2 h2{
		font-size: 30px;
		color: #333;
		font-weight: 200;
	}
	.trademark_concept .img_right{
		margin-top: 30px;
		margin-left: 150px;
		float: left;
	}
	/*瞄点链接*/
	.trademark_concept #trademark_concept{
		position: absolute;
		top: -140px;
	}
</style>