<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> 
 	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<title>开发商合作</title>
	<link type="text/css" rel="stylesheet" href="__STATICPATH__/static/css/kaifashanghezuo.css?a" />
</head>
<body>
	{include file="/public/head"}
	<div class="kaifas">
		<div class="kfs_head"> <!-- 头部 -->
			<img src="__STATICPATH__/static/images/develop/kfs01.png" alt="">
		</div>
		<div class="kfs_yi"> <!-- 第一屏 -->
			<h4>全链条智慧小区解决方案</h4>
			<p>Full chain smart cell solution</p>
			<ul class="kfs_ul">
				<li class="kfs_li1">
					<a href="#" name="yushou">
						<p class="kfs_big_p">楼盘预售</p>
						<p class="kfs_mid_p">规划设计</p>
					</a>
				</li>
				<li class="kfs_li2">
					<a href="#" name="xiaoshou">
						<p class="kfs_big_p">楼盘销售</p>
						<p class="kfs_mid_p">智慧小区体验馆</p>
					</a>
				</li>
				<li class="kfs_li3">
					<a href="#" name="ruhuo">
						<p class="kfs_big_p">业主入伙</p>
						<p class="kfs_mid_p">移动交验房系统</p>
					</a>
				</li>
				<li class="kfs_li4">
					<a href="#" name="jiaofu">
						<p class="kfs_big_p">楼盘交付</p>
						<p class="kfs_mid_p">管理与运营服务</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="kfs_er"> <!-- 第二屏 -->
			<div class="kfs_title">
				<div class="kfs_title1">楼盘预售</div>
				<div class="kfs_title2"></div>
				<div class="kfs_title3">规划设计</div>
				<div class="kfs_title4">提升楼盘竞争价值</div>
			</div>
			<div class="kfs_p">针对楼盘建设规划进度，定制可选配的智慧小区解决方案，杜绝无效投入与重复建设；重规划概念与落地应用，以极小投入迅速提升楼盘价值，避免耗资巨大的硬件投入；整合全国一线智能硬件厂商资源，后续专业维护与专项经营，避免难以自主运营的问题；</div>
			<div class="kfs_Pic1">
				<ul>
					<li>
						<div class="kfs_P_img">
							<img src="__STATICPATH__/static/images/develop/kfs03.png" alt="">
						</div>
						<div class="kfs_P_p">
							<p class="kfs_P_p1">因地制宜</p>
							<p class="kfs_P_p2">针对楼盘建设规划与进度，定制可选配的智慧小区解决方案，杜绝无效投入与重复建设；</p>
						</div>
					</li>
					<li>
						<div class="kfs_P_img">
							<img src="__STATICPATH__/static/images/develop/kfs04.png" alt="">
						</div>
						<div class="kfs_P_p wucha">
							<p class="kfs_P_p1">轻量投入</p>
							<p class="kfs_P_p2">重规划概念与落地应用，以极小投入迅速提升楼盘价值，避免耗资巨大的硬件投入；</p>
						</div>
					</li>
					<li>
						<div class="kfs_P_img">
							<img src="__STATICPATH__/static/images/develop/kfs05.png" alt="">
						</div>
						<div class="kfs_P_p">
							<p class="kfs_P_p1">运营保障</p>
							<p class="kfs_P_p2">整合全国一线智能硬件厂商资源，后续专业维护与专项经营，避免难以自主运营的问题；</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="kfs_san"> <!-- 第三屏 -->
			<div class="kfs_title">
				<div class="kfs_title1">楼盘销售</div>
				<div class="kfs_title2"></div>
				<div class="kfs_title3">智慧小区体验馆</div>
				<div class="kfs_title4">打造楼盘销售王牌</div>
			</div>
			<div class="kfs_p">智慧体验馆：改变传统沙盘式展示馆，整合智能硬件厂商打造的智慧体验馆，形成楼盘竞争新优势，打造楼盘销售王牌。具体整合的只能硬件设备有：可支持车牌识别，为访客买单、识别用户身份的智能道闸；可APP查询商品和支付等功能的自助售货机；可APP缴费，二次供水、电燃气写卡、及其他城市公共服务功能自助缴费终端；可定位、提醒，生成使用码等功能的电动车充电桩；可WIFI、蓝牙摇一摇、扫码开门，识别用户身份的智能道闸；可到件，取件提醒功能的自助快递柜；可APP查询、位置定位、提醒，在线支付等功能的自助洗车设备；</div>
			<div class="kfs_Pic2">
				<ul>
					<li class="kfs_P2_down">
						<img src="__STATICPATH__/static/images/develop/kfs06.png" alt="">
						<p>智能道闸</p>
					</li>
					<li>
						<img src="__STATICPATH__/static/images/develop/kfs07.png" alt="">
						<p>安全门禁</p>
					</li>
					<li class="kfs_P2_down">
						<img src="__STATICPATH__/static/images/develop/kfs08.png" alt="">
						<p>自助售货机</p>
					</li>
					<li>
						<img src="__STATICPATH__/static/images/develop/kfs09.png" alt="">
						<p>汽车充电桩</p>
					</li>
					<li class="kfs_P2_down">
						<img src="__STATICPATH__/static/images/develop/kfs10.png" alt="">
						<p>自助洗车</p>
					</li>
					<li>
						<img src="__STATICPATH__/static/images/develop/kfs11.png" alt="">
						<p>自助快递柜</p>
					</li>
					<li class="kfs_P2_down">
						<img src="__STATICPATH__/static/images/develop/kfs12.png" alt="">
						<p>自助缴费终端</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="kfs_si"> <!-- 第四屏 -->
			<div class="kfs_title">
				<div class="kfs_title1">业主入伙</div>
				<div class="kfs_title2"></div>
				<div class="kfs_title3">移动交验房系统</div>
				<div class="kfs_title4">重新定义验房</div>
			</div>
			<div class="kfs_Pic3">
				<div class="kfs_si_left">
					<p class="kfs_p">优化传统验房的繁琐流程，替代纸质化验房记录，利用互联网移动办公设备，验房问题标准模块化，问题分类汇总，职责分类明确，查验整改清晰，全程可实时监控，实现物业、开发商、承建商的高效验房。</p>
				</div>
				<div class="kfs_si_right">
					<img src="__STATICPATH__/static/images/develop/kfs14.png" alt="">
				</div>
			</div>
			<p>新闻发布会：业主入伙时，召开“智慧小区”楼盘新闻发布会，以楼盘为据点的新闻热点造势，推进与提升楼盘影响力与竞争力</p>
		</div>
		<div class="kfs_wu"> <!-- 第五屏 -->
			<div class="kfs_title">
				<div class="kfs_title1">楼盘交付</div>
				<div class="kfs_title2"></div>
				<div class="kfs_title3">管理与运营服务</div>
				<div class="kfs_title4">提升楼盘影响力</div>
			</div>
			<div class="kfs_Pic4">
				<div class="kfs_wu_left">
					<img src="__STATICPATH__/static/images/develop/kfs15.png" alt="">
				</div>
				<div class="kfs_wu_right">
					<ul>
						<li>
							<img src="__STATICPATH__/static/images/develop/kfs16.png" alt="">
							<p>验房模板管理</p>
						</li>
						<li>
							<img src="__STATICPATH__/static/images/develop/kfs17.png" alt="">
							<p>验房单据信息</p>
						</li>
						<li>
							<img src="__STATICPATH__/static/images/develop/kfs18.png" alt="">
							<p>验房问题复验</p>
						</li>
						<li>
							<img src="__STATICPATH__/static/images/develop/kfs19.png" alt="">
							<p>手写签字提交</p>
						</li>
						<li>
							<img src="__STATICPATH__/static/images/develop/kfs20.png" alt="">
							<p>验房问题实时可查</p>
						</li>
					</ul>
					<p>搭建互联网、物联网连接的乐住智慧小区，配置的网上物业管理系统、邻里互动、小区广告运营，小区商业运营等，打造一条以小区区为中心的生态链。</p>
				</div>
			</div>
		</div>
		<div class="footer"> <!-- 底部 -->
			<div>
				<p class="ft_p1">为高效而生，用乐住网上物业管理系统</p>
				<p class="ft_p2">全国物业合作热线：0731-8388-2785</p>
			</div>
		</div>
	</div>
</body>
</html>