<div class="vue_internet_img">
	<div class="img_left">
		<img src="__STATIC_PATH__/static/productintro/images/sq.png"/>
	</div>
	<div class="word_right">
		<h1>社区运营,为生活添彩</h1>
		<div class="many_p">
			<p>1.裂变/返利营销：邀请好友赠送红包、优惠券，对于参与营销活动的缴费用 户赠送本小区消费的优惠券，抢占更多用户，提升商户与业主的互动性；</p>
			<p>2.广告营销：拓展物业收入，提升商户在小区的影响力，互利双赢模式；</p>
			<p>3.支持拍照上传，直观记录验房现场的图像，准确记录验房问题；</p>
			<p>4.直接通过手机APP实现手写签字确认，永久保存验房记录的签字结果，方便、快捷；</p>
			<p>5.验房信息全面：满足物业公司对验房复验情况详细记录的查询，验房问题的调度审核，查<br>询跟进各问题分类的整改进度情况报表。</p>
		</div>		
	</div>
</div>
<style type="text/css">
	.vue_internet_img{
		background: url('__STATIC_PATH__/static/productintro/images/sq-bg.png') center no-repeat;
		width: 100%;
		height: 690px;
		overflow: hidden;
	}
	.vue_internet_img .img_left{
		float: left;
		margin-top: 170px;
		margin-left: 35px;
	}
	.vue_internet_img .word_right{
		float: left;
		color: white;
		margin-top: 205px;
		margin-left: 105px;
	}
	.vue_internet_img .word_right h1{
		font-size: 30px;
	}
	.vue_internet_img .word_right .many_p{
		line-height: 24px;
		width: 550px;
		margin-top: 60px;
	}
	.vue_internet_img .word_right .many_p p{
		margin-bottom: 25px;
	}
</style>