<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
	.tenvideo_video_player_0{
		width: 574;height:390;
	}
</style>
<script language="javascript" src="http://qzs.qq.com/tencentvideo_v1/js/tvp/tvp.player.js" charset="utf-8"></script>
<body onload="btn()">
	<!-- <iframe id="ssss" class="video_iframe" style=" z-index:1; " src="http://v.qq.com/iframe/player.html?vid=视频vid&width=220&height=296&auto=0" allowfullscreen="" frameborder="0" height="296" width="220"></iframe>  -->
	<div class="xq_info_left" id = "playpoint" >  

</body>
<script>
	function btn(){  
         var video = new tvp.VideoInfo();  
             video.setVid("z05498yaley");   
             var player = new tvp.Player(574,390);  
             player.setCurVideo(video);  
             player.addParam("autoplay","1");  
             player.addParam("adplay","0");  
             player.addParam("player","html5"); 
             // player.addParam("pic","http://img.lanrentuku.com/img/allimg/1604/14603400449013.jpg");  
             player.write("playpoint");  
	}   
</script>
<script type="text/javascript">
// Often.changeVideoBox("r01063879fo","199","140",0);//自动播放，
</script>
</html>