
 	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<link type="text/css" rel="stylesheet" href="__STATICPATH__/static/css/head.css" />
	<script type="text/javascript" src="__STATICPATH__/static/js/head.js" ></script>
<body>
	<div class="bc_navlistbar">
		<div class="header"> <!-- 头部导航 -->
			<div class="header_l">
				<img src="__STATICPATH__/static/images/nav_foot/logo1.jpg" alt="">
			</div>
			<div class="header_m">
				<ul class="header_m_ul">
					<li class="active"><a href="{:url('/index/index/index')}">首页</a></li>
					<li><a href="{:url('/index/productintro/index')}">产品简介</a></li>
					<li class="hezuo">合作专区
						<span class="glyphicon glyphicon-chevron-down"></span>
						<div class="hezuo_hide">
							<ul>
								<li><a href="{:url('/index/cityopration/index')}">城市运营商</a></li>
								<li><a href="{:url('/index/advertise/index')}">广告合作</a></li>
								<li><a href="{:url('/index/property/index')}">物业合作</a></li>
								<li><a href="{:url('/index/develop/index')}">开发商合作</a></li>
							</ul>
						</div>
					</li>
					<li><a href="{:url('/index/companyintro/index')}">企业简介</a></li>
					<li><a href="{:url('/index/newslist/index')}">新闻动态</a></li>
					<li><a href="{:url('/index/connectus/index')}">联系我们</a></li>
					<li><a href="{:url('/index/getapp/index')}">App下载</a></li>
				</ul>
			</div>
			<div class="header_r">
				<span class="glyphicon glyphicon-hand-right"></span>
				<span>全国招商热线 : 400-8090-590</span>
			</div>
			<div id="donghuakuang"></div>
		</div>
	</div>
	