<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> 
 	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<title>app下载</title>
	<link type="text/css" rel="stylesheet" href="__STATICPATH__/static/css/appdl.css" />
	<script type="text/javascript" src="__STATICPATH__/static/js/head.js"></script>
</head>
<body>
{include file="/public/head"}
<div class="app">
	<div class="appdl">
		<h1>小区生态链的"连接器"</h1>
		<div class="app_l">
			<img src="__STATICPATH__/static/images/getapp/appdl.png" alt="">
		</div>
		<div class="app_r">
			<h3>各大应用商店搜索“乐住”均可下载</h3>
			<div class="app_r_l">
				<img src="__STATICPATH__/static/images/getapp/download1.png" alt="">
				<p>乐住业主端APP（下载）二维码</p>
				<div>
					<img src="__STATICPATH__/static/images/getapp/android.png" alt="">
					<span>Android版</span>
				</div>
			</div>
			
			<div class="app_r_r">
				<img src="__STATICPATH__/static/images/getapp/download2.png" alt="">
				<p>乐住物业端APP（下载）二维码</p>
				<div>
					<img src="__STATICPATH__/static/images/getapp/ios.png" alt="">
					<span>IPhone版</span>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>