<div class="company_course">
	<h1>公司历程</h1>
	<ul>
		<!--做后台时左右2个属性的li，用if去判断$key循环出来-->
		<li>
			<div class="img_left con_left">
				<img src="__STATIC_PATH__/static/companyintro/images/2008.png"/>
			</div>
			<div class="img_right con_right">
				<div class="arrow-left"></div>
				<div class="h4_p">
					<h4>2008</h4>
					<p>第一本《业主手册》(香樟雅郡)问世，首创中国“新楼盘终端媒体”模式。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="img_right con_left">
				<div class="arrow-right"></div>
				<div class="h4_p">
					<h4>2009</h4>
					<p>1月13日，注册成立长沙卓远文化传播有限公司。与同升湖、保利阆峰、碧桂园威尼斯城等物业成功合作。</p>
				</div>
			</div>
			<div class="img_left con_right">
				<img src="__STATIC_PATH__/static/companyintro/images/2009.png"/>
			</div>
		</li>
		<!--做后台时左右2个属性的li，用if去判断$key循环出来-->
		<li>
			<div class="img_left con_left">
				<img src="__STATIC_PATH__/static/companyintro/images/2010.png"/>
			</div>
			<div class="img_right con_right">
				<div class="arrow-left"></div>
				<div class="h4_p">
					<h4>2010</h4>
					<p>获长沙市雨花区创业资金扶持，在长沙与绿城、保利、碧桂园、长城等大型物业合作，服务本土上百家一二线、家居建材商户品牌。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="img_right con_left">
				<div class="arrow-right"></div>
				<div class="h4_p">
					<h4>2011</h4>
					<p>签下第一家城市代理商——合肥，开始了布局全国传媒蓝图的征程。</p>
				</div>
			</div>
			<div class="img_left con_right">
				<img src="__STATIC_PATH__/static/companyintro/images/2011.png"/>
			</div>
		</li>
		<!--做后台时左右2个属性的li，用if去判断$key循环出来-->
		<li>
			<div class="img_left con_left">
				<img src="__STATIC_PATH__/static/companyintro/images/2012.png"/>
			</div>
			<div class="img_right con_right">
				<div class="arrow-left"></div>
				<div class="h4_p">
					<h4>2012</h4>
					<p>全国代理城市达60家，卓远品牌在全国市场的知名度、美誉度同步提升。曹志远先生获“中国创业明星”、长沙市“创业新星”和“金牌创业导师”等荣誉，被各主流媒体广泛报道。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="img_right con_left">
				<div class="arrow-right"></div>
				<div class="h4_p">
					<h4>2013</h4>
					<p>自购华雅国际大酒店一号公馆12层独立办公室,跨入现代化、品牌化、标准化企业发展新里程。曹志远接收央视CCTV13新闻频道《面对面》和CCTV7军事农业频道《致富经》等栏目专访,被誉为“85后创业年轻人典范”。</p>
				</div>
			</div>
			<div class="img_left con_right">
				<img src="__STATIC_PATH__/static/companyintro/images/2013.png"/>
			</div>
		</li>
		<!--做后台时左右2个属性的li，用if去判断$key循环出来-->
		<li>
			<div class="img_left con_left">
				<img src="__STATIC_PATH__/static/companyintro/images/2014.png"/>
			</div>
			<div class="img_right con_right">
				<div class="arrow-left"></div>
				<div class="h4_p">
					<h4>2014</h4>
					<p>启动乐住智慧小区项目，自主研发的智慧物业平台投入使用，“乐住”App第一版上线。12月，与长沙市民政局、雨花区人民政府联合举办了乐住智慧社区项目试点新闻发布会。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="img_right con_left">
				<div class="arrow-right"></div>
				<div class="h4_p">
					<h4>2015</h4>
					<p>2月，公司与中国银联（湖南分公司）签署战略合作。8月，公司正式更名为“乐住网络服务有限公司”，与500多个小区合作开展智慧小区建设。11月，启动全国城市运营合作计划，长春、岳阳等城市已开展运营。12月16日，在长沙人民会堂举办，央视名嘴董倩主持的“互联网+小区”项目启动仪式暨新闻发布会。</p>
				</div>
			</div>
			<div class="img_left con_right">
				<img src="__STATIC_PATH__/static/companyintro/images/2015.png"/>
			</div>
		</li>
		<!--做后台时左右2个属性的li，用if去判断$key循环出来-->
		<li>
			<div class="img_left con_left">
				<img src="__STATIC_PATH__/static/companyintro/images/2016.png"/>
			</div>
			<div class="img_right con_right">
				<div class="arrow-left"></div>
				<div class="h4_p">
					<h4>2016</h4>
					<p>3月，打造长沙四大样板小区，成为全国城市运营的示范标杆实例。6月，乐住网络创始人曹志远受到人民网专题报道。7月，乐住智慧小区获得国家住建委《中国建设报》深度报道与推介。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="img_right con_left">
				<div class="arrow-right"></div>
				<div class="h4_p">
					<h4>2017</h4>
					<p>5月 ，乐住智慧小区被湖南卫视、芒果TV等10余家主流媒体报道与推介。</p>
				</div>
			</div>
			<div class="img_left con_right">
				<img src="__STATIC_PATH__/static/companyintro/images/2017.png"/>
			</div>
		</li>
	</ul>
</div>

<style type="text/css">
	.company_course{
		padding: 0px 20px 20px 20px;
		background: #f4f4f4;
		overflow: hidden;
	}
	.company_course h1{
		padding-left: 10px;
		border-left: 4px solid #49d074;
		font-size: 22px;
		margin: 25px 0;
	}
	.company_course ul li{
		list-style: none;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.company_course ul li .img_left{
		float: left;
		width: 25%;
	}
	.company_course ul li .img_left img{
		width: 100%;
	}
	.company_course ul li .img_right{
		width: 63%;
		padding: 10px;
		background:white; 
	}
	.company_course ul li .con_left{
		float: left;
		position: relative;
	}
	.company_course ul li .con_right{
		float: right;
		position: relative;
	}
	.company_course ul li .img_right .arrow-left {
		width: 0;
	    height: 0;
	    border-top: 15px solid transparent;
	    border-bottom: 15px solid transparent;
	    border-right: 15px solid #fff;
	    position: absolute;
	    top: 20%;
	    left: -15px;
	}
	.company_course ul li .img_right .arrow-right {
	    width: 0;
	    height: 0;
	    border-top: 15px solid transparent;
	    border-bottom: 15px solid transparent;
	    border-left: 15px solid #fff;
	    position: absolute;
	    top: 20%;
	    right: -15px;
    }	
	
	.company_course ul li .img_right .h4_p{
		
	}
	.company_course ul li .img_right .h4_p h4{
		color: #49d075;
		font-size: 20px;
		margin: 0 0 10px 0;
	}
	.company_course ul li .img_right .h4_p p{

		color: #777;
		font-size: 12px;
	}
	.company_course ul li .img_right:hover  .h4_p p{
		color: #49d075;
	}
</style>