<div class="vue_store_img">
	<div class="img_left">
		<img src="__STATIC_PATH__/static/productintro/images/yf.png"/>
	</div>
	<div class="word_right">
		<h1>移动验房系统,重新定义验房</h1>
		<div class="summary_p">
			<p>移动验房系统，重新定义验房优化传统验房的繁琐流程，替代纸质化验房记录，利用互联网移动办公设备，验房问题标准块化，问题分类汇总，职责分类明确，查验整改清晰，全程可<br>实时监控，实现高效验房。</p>
		</div>
		<div class="many_p">
			<p>1.移动验房产品，实时登记提交现场验房问题情况，统一提交验房结果；</p>
			<p>2.验房缺陷数据多种户型全覆盖，只需选择即可完成验房问题的登记，方便快捷，提交工作效率，规范化、标准化登记问题的内容；</p>
			<p>3.支持拍照上传，直观记录验房现场的图像，准确记录验房问题；</p>
			<p>4.直接通过手机APP实现手写签字确认，永久保存验房记录的签字结果，方便、快捷；</p>
			<p>5.验房信息全面：满足物业公司对验房复验情况详细记录的查询，验房问题的调度审核，查询跟进各问题分类的整改进度情况报表。</p>
		</div>		
	</div>
</div>
<style type="text/css">
	.vue_store_img{
		background: url('__STATIC_PATH__/static/productintro/images/yf-bg.png') center no-repeat;
		width: 100%;
		height: 750px;
		margin-top: 150px;
		overflow: hidden;
	}
	.vue_store_img .img_left{
		margin-top: 80px;
		margin-left: 150px;
		float: left;
	}
	.vue_store_img .word_right{
		float: right;
		margin-top: 180px;
		margin-right: 25px;
		color: white;
		width: 640px;
	}
	.vue_store_img .word_right h1{
		font-size: 30px;
	}
	.vue_store_img .word_right .summary_p{
		margin-top: 30px;
		line-height: 24px;
	}
	.vue_store_img .word_right .many_p{
		margin-top: 60px;
		line-height: 24px;
	}
	.vue_store_img .word_right .many_p p{
		margin-bottom: 20px;
	}
</style>