<div class="market_prospect">
	<div class="zr_header">
		<h1>市场前景</h1>
		<p>下一个十年，为什么是智慧小区</p>
	</div>
	<div class="zr_container">
		<div class="many_h1_p">
			<div class="h1_p">
				<h1>房产需求：<span>全国各地开发商有意提升楼盘居住舒适度、科技化和人性化服务作为楼盘销售的新亮点；</span></h1>
			</div>
			<div class="h1_p">
				<h1>物业需求：<span>物业缺乏合适的平台与业主进行互动，物业与业主缺少沟通，物业缺乏新的利润增长点来改善运营。</span></h1>
			</div>
			<div class="h1_p">
				<h1>业主需求：<span>业主急需出现一个能整合商家、物业、业主于一体社区平台，提升业主办事效率，实现社区生活服务。</span></h1>
			</div>
		</div>
		<div class="one_img">
			<img src="__STATIC_PATH__/static/cityopration/images/join2 (1).png"/>
		</div>
	</div>
</div>

<style type="text/css">
	.market_prospect{
		color: #3D3D3D;
		background: white;
		padding-bottom: 20px;
		margin-top: 15px;
	}
	.market_prospect .zr_header{
		padding-top: 40px;
		text-align: center;
		margin-bottom: 16px;
		color: #3D3D3D;
	}
	.market_prospect .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.market_prospect .zr_header p{
		font-size: 20px;
		line-height: 33px;
	}
	/*容器*/
	.market_prospect .zr_container .many_h1_p{
		padding: 0 5%;
	}
	.market_prospect .zr_container .many_h1_p .h1_p{
		margin-bottom: 18px;
	}
	.market_prospect .zr_container .many_h1_p .h1_p h1{
		padding-left: 10px;
	    border-left: 2px solid #49d074;
	    height: 22px;
	    line-height: 22px;
	    font-size: 20px;
	    text-align: left;
	    margin: 0;
	    color: #3D3D3D;
	}
	.market_prospect .zr_container .many_h1_p .h1_p h1 span{
		font-weight: normal;
		color: #3d3d3d;
		
	}
	/*容器中的图片*/
	.market_prospect .zr_container .one_img{
		width: 100%;
		margin-top: 10px;
	}
	.market_prospect .zr_container .one_img img{
		width: 100%;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.market_prospect .zr_header h1 {
		    font-size: 25px;
		}
		.market_prospect .zr_header p {
		    font-size: 19px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p {
		    margin-bottom: 18px;
		    height: 44px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p h1 {
		    height: 21px;
		    line-height: 21px;
		    font-size: 19px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.market_prospect .zr_header{
			margin-bottom: 10px;
		}
		.market_prospect .zr_header h1 {
		    font-size: 22px;
		}
		.market_prospect .zr_header p {
		    font-size: 18px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p {
		    margin-bottom: 18px;
		    height: 44px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p h1 {
		    height: 21px;
		    line-height: 21px;
		    font-size: 18px;
		}
	}
	@media (max-width: 640px) {
		.market_prospect .zr_header{
			margin-bottom: 10px;
			padding-top: 13px;
		}
		.market_prospect .zr_header h1 {
		    font-size: 16px;
		}
		.market_prospect .zr_header p {
		    font-size: 13px;
    		line-height: 20px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p {
		    margin-bottom: 10px;
    		height: 45px;
		}
		.market_prospect .zr_container .many_h1_p .h1_p h1 {
			height: 15px;
		    line-height: 15px;
		    font-size: 13px;
		}
	}
</style>