<div class="why_select">
	<a id="why_select" name="why_select"></a>
	<div class="zr_header">
		<h1>选择意义</h1>
		<p>为什么要做智慧小区？</p>
		<div class="bar_bottom"></div>
	</div>
	<div class="img_word">
		<div class="img_left">
			<img src="__STATIC_PATH__/static/cityopration/images/role.png"/>
		</div>
		<div class="word_right">
			<div class="h4_p">
				<h4>开发商：打造销售亮点，提升楼盘整体价值。</h4>
				<p>白银时代的楼盘竞争，不再仅限于地段、位置、配套设施，楼盘居住舒适度，服务智能化和人性化将成为竞争的新势力。</p>
			</div>
			<div class="h4_p">
				<h4>物业：以现代化服务手段，提升业主满意度与物业口碑。</h4>
				<p>传统纸质化办公，效率低、人工成本高，物业与业主沟通受限，报事报修问题解决慢，物业缴费率不高等问题。</p>
			</div>
			<div class="h4_p">
				<h4>业主：一部手机刷遍小区里，提升幸福指数。</h4>
				<p>水、电、物业费缴费，报事报修，小区智能设施使用，生活服务订购，线上超市等服务，足不出小区即可实现。</p>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	/*头部*/
	.why_select{
		color: #3D3D3D;
		padding: 0px 15px;
		padding-bottom: 20px;
		position: relative;
	}
	.why_select .zr_header{
		padding: 60px 0px 40px 0px;
		text-align: center;
	}
	.why_select .zr_header h1{
		font-weight: 500;
		font-size: 36px
	}
	.why_select .zr_header .bar_bottom{
		width: 50px;
		height: 2px;
		background: #44b13f;
		margin:auto;
		margin-top: 15px;
		transition: all 0.6s;
	}
	.why_select .zr_header:hover .bar_bottom{
		width: 80px;
	}
	/*内容*/
	.why_select .img_word{
		overflow: hidden;
	}
	.why_select .img_word .img_left{
		float: left;
		margin-right: 120px;
	}
	.why_select .img_word .word_right{
		float: left;
		width: 640px;
	}
	.why_select .img_word .word_right .h4_p{
		margin-bottom: 35px;
	}
	.why_select .img_word .word_right .h4_p h4{
		font-size: 20px;
		color: #333;
		font-weight: 200;
		line-height: 44px;
	}
	.why_select .img_word .word_right .h4_p p{
		font-size: 16px;
		color: #777;
		line-height: 22px;
	}
	/*瞄点链接*/
	.why_select #why_select{
		position: absolute;
		top: -140px;
	}
</style>