
<link type="text/css" rel="stylesheet" href="__STATICPATH__/static/m_css/head.css" />
<script type="text/javascript" src="__STATICPATH__/static/m_js/head.js" ></script>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>

<div class="m-header"> <!-- 头部导航 -->
	<div class="m_head">
		<img src="__STATICPATH__/static/m_images/index/logo1.jpg" alt="">
		<span>招商热线 : 400-8090-590</span>
	</div>
	<div>
		<ul class="m_head_ul">
			<li class="productintro"><a href="{:url('mobile/productintro/index')}">产品简介</a></li>
			<li class="companyintro"><a href="{:url('mobile/companyintro/index')}">企业简介</a></li>
			<li class="m_hezuo" value="0">合作专区
				<span class="glyphicon glyphicon-chevron-down"></span>
				<div class="m_hezuo_hide">
					<ul class="m_hide_ul">
						<li class="cityopration"><a href="{:url('mobile/cityopration/index')}">城市运营商</a></li>
						<li class="advertise"><a href="{:url('mobile/advertise/index')}">广告合作</a></li>
						<li class="property"><a href="{:url('mobile/property/index')}">物业合作</a></li>
						<li class="develop"><a href="{:url('mobile/develop/index')}">开发商合作</a></li>
					</ul>
				</div>
			</li>
			<li class="newslist"><a href="{:url('mobile/newslist/index')}">新闻动态</a></li>
			<li class="connectus"><a href="{:url('mobile/connectus/index')}">联系我们</a></li>
		</ul>
	</div>
</div>
