
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="__STATICPATH__/static/js/common.js"></script>
<!--引入公共头部-->
{include file="common/header"}

<!--引入公共导航头部-->
{include file="/public/head"}

<!--引入头部图片-->
{include file="productintro/header_img/header_img"}

<!--智慧小区体验馆，为服务助力vue_store部分-->
{include file="productintro/vue_store/vue_store"}

<!--智慧小区体验馆，为服务助力vue_store_img部分-->
{include file="productintro/vue_store_img/vue_store_img"}

<!--网上物业管理系统，为高效而生vue_internet部分-->
{include file="productintro/vue_internet/vue_internet"}

<!--网上物业管理系统，为高效而生vue_internet_img部分-->
{include file="productintro/vue_internet_img/vue_internet_img"}

<!--引入公共导航尾部-->
{include file="/public/foot"}

<!--引入公共尾部-->
{include file="common/footer"}
