<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> 
 	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<title>新闻详情</title>
	<link type="text/css" rel="stylesheet" href="__STATICPATH__/static/css/xwxiangqing.css" />
<body>
	{include file="/public/head"}
	<div class="xinwen">
		<div class="xw_head">
			<img src="__STATICPATH__/static/images/newsdeta/xinwen02.png" alt="">
			<span>新闻动态</span>
		</div>
		<div class="wenzhang"> <!-- 文章 -->
			<h3>"荣归·壹城"暨乐住打造的"悦昇活"APP正式上线！</h3>
			<p>点击数：<span>192</span>&nbsp;&nbsp;&nbsp;&nbsp;发布日期：<span>2017-10-09</span></p>
			<div class="main_02"> <!-- 文章主体 -->
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing07.png" alt="">
				<p>9月28日-30日，迎来了久仰已久的明昇壹城一期洋房别墅·交房盛典。同时，由乐住打造的“悦昇活”APP正式上线运营。明昇地产深知品牌的成功源于客户信赖，在品质住宅上更胜一筹以外，智慧、现代化的服务更是提升品牌影响力的重要渠道。</p>
				<p>“好房子+好服务+好体验”，铸就好品质房产。因此，借力互联网工具“乐住”，为明昇壹城的业主提前送去一张满意的互联化智慧名片。</p>
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing08.png" alt="">
				<p>来，先切换到交房现场，隔着屏幕蹭点“喜庆”味。</p>
				<p> 红毯、鲜花、风车、井然有序的流程指引、工作人员笑靥如花，让每位归家的业主都很满意，家的温馨、明星般的礼赞。</p>
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing09.png" alt="">
				<p>走在红毯那一天，除了婚礼当天，当属这幸福的归途</p>
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing10.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing11.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing12.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing13.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing15.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing16.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing17.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing18.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing19.png" alt="">
				<img src="__STATICPATH__/static/images/newsdeta/xiangqing20.png" alt="">
			</div>
			<div>
				<div class="prepage">上一篇：<a href="{:url('/index/newsdeta/index')}">房地产市场进入白银时代，智慧小区来助力！</a></div>
				<div class="nextpage">没有了<a></a></div>
			</div>
		</div>
	</div>
	{include file="/public/foot"}
</body>
</html>