<div class="why_select">
	<div class="zr_header">
		<h1>选择意义</h1>
		<p>下一个十年，为什么是智慧小区</p>
	</div>
	<div class="zr_container">
		<div class="one_img">
			<img src="__STATIC_PATH__/static/cityopration/images/join3 (1).png"/>
			<p>智慧小区角色图</p>
		</div>
		<div class="many_h1_p">
			<div class="h1_p">
				<h1>房产需求：<span>全国各地开发商有意提升楼盘居住舒适度、科技化和人性化服务作为楼盘销售的新亮点；</span></h1>
			</div>
			<div class="h1_p">
				<h1>物业需求：<span>物业缺乏合适的平台与业主进行互动，物业与业主缺少沟通，物业缺乏新的利润增长点来改善运营。；</span></h1>
			</div>
			<div class="h1_p">
				<h1>业主需求：<span>业主急需出现一个能整合商家、物业、业主于一体社区平台，提升业主办事效率，实现社区生活服务。</span></h1>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.why_select{
		color: #3D3D3D;
		background: white;
		margin-top: 15px;
	}
	.why_select .zr_header{
		padding-top: 40px;
		text-align: center;
		margin-bottom: 10px;
		color: #3D3D3D;
	}
	.why_select .zr_header h1{
		font-size: 26px;
		font-weight: 200;
	}
	.why_select .zr_header p{
		font-size: 20px;
		line-height: 33px;
	}
	/*容器*/
	.why_select .zr_container .many_h1_p{
		padding: 30px 5%;
	}
	.why_select .zr_container .many_h1_p .h1_p{
		margin-bottom: 18px;
	}
	.why_select .zr_container .many_h1_p .h1_p h1{
		padding-left: 10px;
	    border-left: 2px solid #49d074;
	    height: 22px;
	    line-height: 22px;
	    margin-bottom: 8px;
	    font-size: 20px;
	    text-align: left;
	    margin: 0;
	    color: #3D3D3D;
	}
	.why_select .zr_container .many_h1_p .h1_p h1 span{
		font-weight: normal;
		color: #3D3D3D;
		
	}
	/*容器中的图片*/
	.why_select .zr_container .one_img{
		width: 100%;
	}
	.why_select .zr_container .one_img p{
		text-align: center;
		font-size: 20px;		
	}
	.why_select .zr_container .one_img img{
		width: 50%;
		margin: 10px 23%;
	}
	@media (max-width:1280px) and (min-width: 960px) {
		.why_select .zr_header h1{
			font-size: 25px;
		}
		.why_select .zr_header p{
			font-size: 19px;
		}
		.why_select .zr_container p{
			font-size: 19px;
		}
		.why_select .zr_container h2{
			font-size: 19px;
			width: 255px;
		}
	}
	@media (max-width:960px) and (min-width: 640px) {
		.why_select .zr_header {
		    margin-bottom: 5px;
		}
		.why_select .zr_header h1{
			font-size: 22px;
		}
		.why_select .zr_container .one_img img {
		    margin: 5px 23%;
		}
		.why_select .zr_container .one_img p {
		    font-size: 18px;
		}
		.why_select .zr_header p{
			font-size: 18px;
		}
		.why_select .zr_container p{
			font-size: 19px;
		}
		.why_select .zr_container h2{
			font-size: 19px;
			width: 255px;
		}
		.why_select .zr_container .many_h1_p .h1_p h1 {
		    height: 20px;
		    line-height: 20px;
		    font-size: 18px;
		}
		.why_select .zr_container .many_h1_p {
		    padding: 20px 5%;
		}
		.why_select .zr_container .many_h1_p .h1_p {
		    height: 40px;
		}
	}
	@media (max-width: 640px) {
		.why_select .zr_header h1{
			font-size: 16px;
		}
		.why_select .zr_header p{
			font-size: 13px;
			line-height: 20px;
		}
		.why_select .zr_header {
		    padding-top: 15px;
		}
		.why_select .zr_container .one_img img {
		    margin: 0px 23%;
		}
		.why_select .zr_container .one_img p {
		    font-size: 13px;
		}
		.why_select .zr_container .many_h1_p .h1_p {
		    height: 30px;
		}
		.why_select .zr_container .many_h1_p .h1_p h1 {
		    height: 15px;
		    line-height: 15px;
		    margin-bottom: 8px;
		    font-size: 13px;
		}
		.why_select .zr_container .many_h1_p {
		    padding: 20px 5%;
		}
	}
</style>
